/* LESS ACCOUNT SETTINGS PAGE */
div.CP2_UserProfile {
  h2.page-title {
    width: 150px;
  }
  .basic-widget {
    min-height: inherit;
  }
 .form-group {
    .form-control {
      width: 75%;
    }
    .btn {
      width: 25%;
      float: right;
    }
  }
  .password {
    @media( max-width:1310px){
      .col-lg-6 {
        width: 100%;
      }
    }
    .form-control {
      width: 100%;
    }
    .btn-group {
      margin-top: 5px;
      float: right;
      margin-right: 15px;
      .btn {
        width: inherit;
        float: right;
        padding: 5px 10px;
        border-radius: 0px;
      }
      .update {
        margin-right: 15px;
        font-weight: 600;
      }
      .cancel {
        color: #ADADAD;
        background-color: #fff;
      }
    }
  }
  .profile {
    img {
      float:  left;
      padding: 0px 10px 10px 0px;
      width: 100%;
      max-width: 135px;
    }
    .caption {
      margin:  0px 0px 15px;
    }
    .linkedin {
      margin: 10px 20px;
      padding: 5px 10px;
    }
    .btn, .choose_file  {
      font-weight: bolder;
    }
  }
  .choose_file {
    position:relative;
    display:inline-block;
    background: @blue-1;
    color: @white-1;
    width: 135px;
    line-height: 30px;
    text-align: center;
  }
  .choose_file input[type="file"] {
      -webkit-appearance: none;
      position:absolute;
      top:0; left:0;
      opacity:0;
  }
  .disclaimer {
    margin: 20px 0px 0px;
    font-size: 13px;
  }
}

/* END ACCOUNT SETTINGS PAGE */