/* LESS BENCHMARKS PAGE */
.benchmarks {
  h2.page-title {
    width: 150px;
  }
  .benchmark {
    position: relative;
    background: @white-2;
    color: @black-1;
    margin-bottom: 30px;
    font-family: @lato;
    min-height: 300px;
  }
  .benchmark-header,.benchmark-content{
    display: block;
    width: 100%;
    clear: both;
  }
  .benchmark-header {
    background: @gray-1;
    color: @black-2;
    font-size: 16px;
    font-family: @roboto;
    height: 40px;
    padding: 8px 20px;
    border-top: solid 2px @gray-2;
    text-align: center;
  }
  .benchmark-header.transparent{
    background:transparent;
    border:none;
  }
  .benchmark-header.centered{
    text-align:center;
  }
  .benchmark-header .left-btn{
    position: absolute;
    left:10px;
    top:6px;
  }
  .benchmark-content{
    padding: 10px;
  }
  .select-header {
    margin: 20px -15px 40px;
  }
  .select-wrap {
    /* Benchmarks Dropdown */
    .dropdown {
      width: 200px;
      display: inline-block;
      // overflow: hidden;
      height: 30px;
      color: @black-2;
      background: #fff;
      border-right: 30px solid #adadad;
      border-radius: 0px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    }

    .dropdown:after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 5px;
      right: -22px;
      width: 0;
      height: 0;
      border: 8px dashed;
      border-color: @white-1 transparent;
      pointer-events: none;
    }

    .dropdown:before {
      border-bottom-style: solid;
      border-top: none;
    }

    .dropdown:after {
      margin-top: 7px;
      border-top-style: solid;
      border-bottom: none;
    }
    .dropdown-select {
      position: relative;
      width: 130%;
      margin: 0;
      padding: 8px 8px 6px 10px;
      line-height: 14px;
      font-size: 14px;
      font-family: @roboto;
      font-weight: bold;
      background: #f2f2f2; /* Fallback for IE 8 */
      background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
      border: 0;
      border-radius: 0;
      -webkit-appearance: none;
    }

    .dropdown-select:focus {
      z-index: 3;
      width: 150%;
      outline: 0px solid #49aff2;
      outline: 0px solid -webkit-focus-ring-color;
      outline-offset: 0px;
    }
    /* Fix for IE 8 putting the arrows behind the select element. */

    .lt-ie9 .dropdown {
      z-index: 1;
    }

    .lt-ie9 .dropdown-select {
      z-index: -1;
    }

    .lt-ie9 .dropdown-select:focus {
      z-index: 3;
    }

    /* Dirty fix for Firefox adding padding where it shouldn't. */

    @-moz-document url-prefix() {
      .dropdown-select {
        padding-left: 6px;
      }
    }
    p {
      font-size: 12px;
      color: @black-2;
      margin: 10px 0px;
    }
  }
  input:focus {
    outline: 0;
  }
  /* RangeSlider */
  #RangeSlider {
    display: block;
    text-align: center;
  }
  #RangeSlider #amount {
    border: 0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #5B605F;
    height: 30px;
    margin-bottom: 15px;
  }
  #RangeSlider .ui-slider {
    position: relative;
    text-align: left;
  }
  #RangeSlider .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    background: #3983c5;
    border: 0px solid #d3d3d3;
  }
  #RangeSlider .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }
  #RangeSlider .ui-widget input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
  #RangeSlider .ui-widget-content {
    border: inherit !important;
    background: #5B605F;
  }
  #RangeSlider .ui-slider .ui-slider-range {
    background: #75c93c;
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }
  #RangeSlider .ui-slider-horizontal {
    height: 10px;
  }
  #RangeSlider .ui-slider-horizontal .ui-slider-handle {
    top: -8px;
    margin-left: 0px;
    outline: 0;
  }
  #RangeSlider .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
  }
  #RangeSlider .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
  }
  #RangeSlider .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
  }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid @black-3;
  margin: -13px auto 10px;
}

  /* General Benchmarks */
  .benchmarks-general {
    h4 {
      background-color: @gray-2;
      padding: 10px 15px;
      height: 40px;
      margin: 8px 15px 30px 15px;
    }
  }
  .highcharts-button {
    display: none;
  }
  span.handle {
    color: @white-1;
    font-weight: bolder;
    font-size: 15px;
    padding: 1px 0px 0px 5px;
    letter-spacing: -2px;
  }
}
/* END BENCHMARKS */
