/* LESS CREDIT REPORTS */

  /* Credit Score Grades */
  .excellent { background-color: #66B034;}
  .good { background-color: #3983C5;}
  .acceptable { background-color: #FAA30B;}
  .subprime { background-color: #FF6600;}
  .poor { background-color: #B82309;}

.CP2_CreditReport {
  .credit-timeline {
    height: 500px;
  }
}


/* END LESS CREDIT REPORTS */