.forms-grp {
  margin: 0px;
  padding: 0px;
}
.begin,
.continue,
.complete {
  position: relative;
  width: 175px;
  height: 240px;
  float: left;
  margin: 0px 15px 25px 10px;
  color: @white-2;
}
.begin .doc-number,
.continue .doc-number,
.complete .doc-number {
  max-height: 30px;
  padding: 5px 7px;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  background-color: #85a5cc;
  color: #fafafa;
  top: 0px;
  left: 0px;
}
.begin h4,
.continue h4,
.complete h4 {
  color: #474747;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  padding: 40px 10px 110px;
}
.begin p,
.continue p,
.complete p {
  color: #474747;
  font-size: 13px;
  line-height: 21px;
}
.begin .no-form-status,
.continue .no-form-status,
.complete .no-form-status {
  display: none;
}
.begin .form-status,
.continue .form-status,
.complete .form-status {
  text-align: center;
  color: #7a7a7a;
  position: absolute;
  bottom: 5px;
  width: 175px;
}
.begin .form-status span,
.continue .form-status span,
.complete .form-status span {
  font-size: 42px;
  font-weight: 700;
  padding: 0px 0px 0px 10px;
}
.begin .form-status sup,
.continue .form-status sup,
.complete .form-status sup {
  font-size: 21px;
  position: relative;
  top: -14px;
}
.begin .form-status p,
.continue .form-status p,
.complete .form-status p {
  font-size: 13px;
  line-height: 0px;
  margin: 0px 0px 15px 0px;
}
.begin .form-progress,
.continue .form-progress,
.complete .form-progress {
  height: 5px;
  width: 175px;
  background-color: #a71930;
  position: absolute;
  margin-top: 170px;
}
.begin .form-stage,
.continue .form-stage,
.complete .form-stage {
  height: 40px;
  width: 175px;
  position: absolute;
  margin-top: 178px;
}
.begin .form-stage a,
.continue .form-stage a,
.complete .form-stage a {
  color: #fafafa;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 45px 10px 72px;
  float: right;
  letter-spacing: 1px;
}
.begin .form-stage a:hover,
.continue .form-stage a:hover,
.complete .form-stage a:hover {
  text-decoration: none;
}
.begin .form-stage i,
.continue .form-stage i,
.complete .form-stage i {
  font-size: 30px;
  position: absolute;
  left: 140px;
  top: 6px;
}
.content-item {
  background: #fafafa;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  position: relative;
  width: 175px;
  height: 195px;
  float: left;
}
.content-item .overlay {
  border-top: 42px solid #474747;
  border-left: 52px solid transparent;
  top: 0;
  height: 0;
  opacity: .95;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 0;
}
.content-item .corner-overlay-content {
  font-size: 11px;
  top: 5px;
  position: absolute;
  right: 5px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #fafafa;
}
.content-item .overlay-content {
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  color: #fafafa;
  font-size: 13px;
  line-height: 21px;
  font-weight: 100;
  -vendor-animation-duration: 1s;
  -vendor-animation-delay: 1s;
  -vendor-animation-iteration-count: infinite;
}
.content-item .overlay-content {
  background: #474747;
}
.begin .form-stage span:before {
  content: "Begin";
}
.begin .form-stage a {
  text-decoration: none;
}
.continue .form-progress {
  background: #3983c5;
}
.continue .form-progress .form-precent {
  background-color: #30395c;
  height: 5px;
}
.continue .form-progress .form-precent-25 {
  width: 25%;
}
.continue .form-progress .form-precent-50 {
  width: 50%;
}
.continue .form-progress .form-precent-75 {
  width: 75%;
}
.continue .form-stage {
  background-color: #3983c5;
}
.continue .form-stage span:before {
  content: "Continue";
}
.continue .form-stage a {
  text-decoration: none;
}
.complete .form-progress {
  background: #66b034;
}
.complete .form-progress .form-precent {
  background-color: #487d25;
  height: 5px;
  width: 100%;
}
.complete .form-stage {
  background-color: #66b034;
}
.complete .form-stage span:before {
  content: 'E \2013 Sign';
}
.complete .form-stage a {
  text-decoration: none;
}
#e-sign .e-sign {
  background: #66b034;
  width: 190px;
  position: absolute;
  z-index: 1;
  padding: 10px 10px 12px 10px;
  text-align: center;
  top: 95px;
  left: -5px;
  color: #fafafa;
  font-weight: bold;
  font-size: 21px;
}
#e-sign .e-sign i {
  margin-right: 5px;
}
#e-sign .e-sign-fold {
  background: #487d25;
  height: 5px;
  width: 6px;
  position: absolute;
  left: -5px;
  top: 145px;
}
#e-sign .form-progress,
#e-sign .form-precent,
#e-sign .form-stage,
#e-sign .form-status,
#e-sign h4,
#e-sign p {
  opacity: .25;
}
#e-sign.complete .form-progress {
  background: #66b034;
}
#e-sign.complete .form-progress .form-precent {
  background-color: #487d25;
  height: 5px;
  width: 100%;
}
#e-sign.complete .form-stage {
  background-color: #66b034;
}
#e-sign.complete .form-stage span:before {
  content: '';
}
#e-sign.complete .form-stage a {
  text-decoration: none;
}