/* LESS LANDING PAGE */

.CP2_Widgets {
	.data-grp {
		height: 200px;
	}

	/* Forms Widget Styles */
	.forms-stats {
		float: left;
		.FormsNeededClass, .FormsCompletedClass {
			margin-top: 30px;
			padding: 10px 0px 10px 10px;
			background-color: @gray-1;
			width: 145px;
			height: 40px;
			position: relative;
			text-align: right;
			padding-right: 50px;
			font-weight: bold;
			font-size: 16px;

			span {
				background-color: @green-1;
				position: absolute;
				padding-top: 5px;
				top: 0px;
				right: 0px;
				width: 40px;
				height: 40px;
				text-align: center;
				font-family: @roboto;
				font-weight: bold;
				color: @white-1;
				font-size: 21px;
			}
			.arrow-right {
				width: 0;
				height: 0;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 5px solid @green-1;
				position: absolute;
				top: 15px;
				right: -5px;
			}
		}
		.FormsCompletedClass {
			margin-top: 20px;
			span {
				background-color: @green-2;
			}
			.arrow-right {
				border-left: 5px solid @green-2;
			}
		}
	}
	/* END Forms Widget Styles */

	/* Documents Widget Styles */
	.document-stats {
		float: right;
		.DocumentsNeededClass, .DocumentsCompletedClass {
			margin-top: 30px;
			padding: 10px 0px 10px 10px;
			background-color: @gray-1;
			width: 145px;
			height: 40px;
			position: relative;
			text-align: left;
			padding-left: 50px;
			font-weight: bold;
			font-size: 16px;

			span {
				background-color: @blue-1;
				position: absolute;
				padding-top: 5px;
				top: 0px;
				left: 0px;
				width: 40px;
				height: 40px;
				text-align: center;
				font-family: @roboto;
				font-weight: bold;
				color: @white-1;
				font-size: 21px;
			}
			.arrow-left {
				width: 0;
				height: 0;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-right: 5px solid @blue-1;
				position: absolute;
				top: 15px;
				left: -5px;
			}
		}
		.DocumentsCompletedClass {
			margin-top: 20px;
			span {
				background-color: @blue-2;
			}
			.arrow-left {
				border-right: 5px solid @blue-2;
			}
		}
	}
	/* END Documents Widget Styles */

	/* Bar Gragh Styles */
	.forms-bar, .docs-bar {
		width: 50px;
		height: 160px;
		float: right;
		position: relative;
	}
	.forms-bar {
		background-color: @green-1;
		.FormsPercentageClass {
			background-color: @green-2;
		}
	}
	.docs-bar {
		float: left;
		background-color: @blue-1;
		.DocumentsPercentageClass {
			background-color: @blue-2;
		}
	}
	/* END Bar Gragh Styles */

	/* Percentages for Forms and Documents Widget */
	.Percentage0, .Percentage10, .Percentage20, .Percentage30, .Percentage40, .Percentage50, .Percentage60, .Percentage70, .Percentage80, .Percentage90, .Percentage100 {
		width: 50px;
		position: absolute;
		bottom: 0;
	}

	/* Shows height of bar based on percentage */
	.Percentage0 { height: 0%;}
	.Percentage10 { height: 10%;}
	.Percentage20 { height: 20%;}
	.Percentage30 { height: 30%; }
	.Percentage40 { height: 40%; }
	.Percentage50 { height: 50%; }
	.Percentage60 { height: 60%; }
	.Percentage70 { height: 70%; }
	.Percentage80 { height: 80%; }
	.Percentage90 { height: 90%; }
	.Percentage100 { height: 100%; }

/* Credit Report Widget Styles */
.credit-score-wrap {
	/* Credit Score Box */
	.credit-score {
		font-family: @roboto;
		color: @white-1;
		border-radius: 3px;
		width: 100%;
		max-width: 230px;
		display: block;
		text-align: center;
		margin: 0px auto 10px;
		padding: 10px 0px 20px;
		.tagline {
			font-size: 16px;
			font-weight: bold;
		}
		.score {
			font-size: 72px;
			font-weight: bold;
			line-height: 72px;
		}
	}
	p { margin: 0px; }
}

/* END Credit Report Widget Styles */

}
/* END LESS LANDING PAGE */