div.CP2_Help {
  h2.page-title {
    width: 150px;
  }
  span.onoffswitch-switch {
    color: @white-1;
    font-weight: bolder;
    font-size: 18px;
    padding: 4px 0px 0px 11px;
    letter-spacing: 1px;
  }
  .issue-description {
    textarea.message {
      resize:vertical; max-height:600px; min-height:130px;
    }
  }
  .lead {
    font-size: 16px;
  }
  .submit {
    .btn {
      width: 150px;
      float: right;
    }
  }
  .widget-content.video {
    padding: 0px;
  }
  .video .embed-responsive {
    border: none;
    border-bottom: 2px solid @black-3;
  }
  video {
    width: 100%    !important;
    height: auto   !important;
  }
}

