/* LESS BREADCRUMBS */

.sub-topbar {
  padding:10px 30px 6px;
  background: @gray-1;
  position: relative;
  font-family: @roboto;
  border-radius: 0px;
  border-bottom: 4px solid @gray-2;
  margin-left: @sub_topbar;
  height: 45px;
  /* BREADCRUMBS */
  .breadcrumb {
    padding: 0;
    background: transparent;
    font-size: 16px;
    margin: 0;
    margin-right: 340px;
    list-style: none;
    li a {
      font-family: @roboto;
      color: #555;
    }
    li.active{
      color:#888;
    }
  }
  .breadcrumb > li + li:before{
    color:darken(@lightblue-1,5%);
    padding:0px 10px;
    content: "";
    font-family: 'FontAwesome';
  }
  .dropdown {
    width: 340px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    // overflow: hidden;
    height: 40px;
    color: @white-1;
    background: @red-1;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  }

  /* Loan Dropdown */
  .dropdown:before, .dropdown:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 20px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: @white-1 transparent;
    pointer-events: none;
  }

  .dropdown:before {
    border-bottom-style: solid;
    border-top: none;
  }

  .dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
  }
  .dropdown-select {
    position: relative;
    width: 340px;
    margin: 0;
    padding: 8px 10px 8px 15px;
    line-height: 14px;
    font-size: 16px;
    font-family: @roboto;
    font-weight: bold;
    background: #f2f2f2; /* Fallback for IE 8 */
    background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    height: 41px;
    border-bottom: 3px darken(@red-1, 5%) solid;
  }

  .dropdown-select:focus {
    z-index: 3;
    width: 100%;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  /* Fix for IE 8 putting the arrows behind the select element. */

  .lt-ie9 .dropdown {
    z-index: 1;
  }

  .lt-ie9 .dropdown-select {
    z-index: -1;
  }

  .lt-ie9 .dropdown-select:focus {
    z-index: 3;
  }

  /* Dirty fix for Firefox adding padding where it shouldn't. */

  @-moz-document url-prefix() {
    .dropdown-select {
      padding-left: 6px;
    }
  }
}
#wrapper.enlarged .topbar .sub-topbar{
  margin-left :@resized_sub_topbar !important;
}

/* END LESS BREADCRUMBS */