/* LESS CHATTER */

.chatter-header {
  h4 {
    padding-left: 15px;
    i {
      float: right;
      font-size: 24px;
      margin-right: 5px;
    }
  }
}
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: @white-1;
}
#messages {
  padding-bottom: 10px;
}
#messages .header {
  font-size: 16px;
  padding: 5px;
}
#messages .new-chat .btn {
  background: #37A447;
  padding: 10px 0px;
  border-radius: 0px;
  text-transform: uppercase;
  width: 25%;
  border: solid 1px #37a447;
  float: right;
  color: @white-1;
  height: 40px;
}
#messages .new-chat .btn:hover {
  background: green;
}
.big {
  padding: 0px 10px;
  width: 75%;
  height: 40px;
}
.comment-grp {
  margin: 20px 20px 0px 10px;
  position: relative;
  padding-left: 20px;
}
.comment-grp .user-photo {
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  background-color: @white-1;
}
.comment-grp .user-photo img {
  width: 42px;
  border-radius: 50%;
  margin: 3px;
}
.comment-grp .comment-wrp,
.comment-grp .sub-comment-wrp {
  padding: 5px 0px 0px 45px;
  list-style: none;
}
.comment-grp .comment-wrp h4,
.comment-grp .sub-comment-wrp h4 {
  display: inline;
  font-size: 15px;
  font-weight: bold;
}
.comment-grp .comment-wrp .timestamp,
.comment-grp .sub-comment-wrp .timestamp {
  float: right;
  color: #777777;
  font-size: 12px;
  margin-top: 2px;
}
.comment-grp .comment-wrp .timestamp .date,
.comment-grp .sub-comment-wrp .timestamp .date {
  margin-right: 20px;
}
.comment-grp .comment-wrp p,
.comment-grp .sub-comment-wrp p {
  color: @black-1;
  font-size: 13px;
  padding: 5px 0px 10px 0px;
  line-height: 20px;
  margin-bottom: 0px;
}
.comment-grp .comment-wrp .meta,
.comment-grp .sub-comment-wrp .meta {
  color: #777777;
  font-size: 12px;
  display: block;
  text-align: right;
  margin-bottom: 10px;
}
.comment-grp .comment-wrp .meta .meta-comment,
.comment-grp .sub-comment-wrp .meta .meta-comment {
  margin-right: 30px;
}
.comment-grp .reply {
  width: 100%;
  font-size: 12px;
  padding: 7px;
  font-style: italic;
  display: block;
}
.comment-grp .sub-comment-wrp {
  padding: 10px 0px 10px 70px;
}
.comment-grp .sub-comment-wrp .user-photo {
  margin-left: 30px;
}
.comment-grp .sub-comment-wrp p {
  padding: 0px 0px 20px 0px;
}
.line {
  border-left: solid 1px #ccc;
  z-index: 100;
  border-top-left-radius: 15px;
}
.line-none {
  border-left: solid 1px #fff;
  z-index: 100;
  border-top-left-radius: 15px;
}
.sub-line {
  border-left: solid 1px #ccc;
  z-index: 100;
}
.sub-line2 {
  width: 10px;
  border-bottom: solid 1px #ccc;
  position: absolute;
  z-index: 100;
  margin-top: 25px;
  left: 20px;
}

.view-all {
  margin: 30px 0px 0px 10px;
  width: 290px;
  border-radius: 0px;
  font-size: 18px;
  font-family: @roboto;
  font-weight: bold;

  i {
    font-size: 21px;
    margin-left: 10px;
  }
}

/* END LESS CHATTER */