/* FOOTER */
footer {
  padding: 10px 30px;
  font-size: 12px;
  border-top: 3px solid @gray-2;
  margin-top: 40px;
  color:@lightblue-2;
}

footer .footer-links a{
  color:@lightblue-2;
  padding:1px 10px;
  border-right:1px solid rgba(0,0,0,0.1);
}

footer .footer-links a:hover{
  color:@darkblue-2;
}

footer .footer-links a:last-child{
  border:none;
}

/* END FOOTER */