/* GENERAL FORM ELEMENTS */

/* FORM GROUP */
.form-group {
  label {
    font-weight: 400;
    display: block;
    margin-bottom: 2px;
    padding-left: 7px;
    span {
      font-weight: 300;
      color: #555;
    }
  }
  .form-control {
    display: inline;
    border: solid 0px @gray-1;
    color: #555;
    border-radius: 0px;
    padding: 5px 0px 5px 8px;
    width: 100%;
    height: 33px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    &:focus {
        border: solid 1px @gray-2;
    }
  }
  .btn {
    height: 33px;
    border-radius: 0px;
    padding: 6px 0px;
    font-size: 1em;
    font-weight: 600;
    border: 0px;
  }
}

/* Switch */
.onoffswitch {
    position: relative; width: 150px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 35px; padding: 0; line-height: 35px;
    font-size: 16px; color: @white-1;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Email Me";
    padding-left: 15px;
    background-color: @gray-1; color: @black-1;
}
.onoffswitch-inner:after {
    content: "Call Me";
    padding-left: 50px;
    background-color: @gray-2; color: @black-1;
    text-align: left;
}
.onoffswitch-switch {
    display: block; width: 35px; margin: 0px;
    background: @red-1;
    color: @white-1;
    position: absolute; top: 0; bottom: 0; right: 115px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/* END FORM ELEMENTS */