/* LOAN TEAM HEADER */

.loan-team-header {
  margin-top: 108px;
  h4 {
    padding-left: 15px;
    i {
      float: right;
      font-size: 24px;
      margin-right: 5px;
    }
  }
}
.loan-team-group {
  position: fixed;
}
.loan-team-wrap {
  background-color: @white-1;
  padding: 5px;
  overflow: hidden;
  .loan-team {
    .loan-team-img-group {
      display: block;
      height: 140px;
      position: relative;
      margin: 10px auto 0px;
      max-width: 345px;
      .prev, .next {
        position: absolute;
        top: 55px;
        z-index: 1001;
      }
      .next {
        right: 10px;
      }
      .prev {
        left: 10px;
      }
      .fa-stack-2x {
        color: @gray-1;
        font-size: 32px;
      }
      .fa-stack-1x {
        color: @red-1;
        font-size: 24px;
        line-height: 32px;
      }
      img {
        background-color: gray;
        width: 100%;
      }
      .member-left, .member-right {
        background-color: @white-1;
        position: absolute;
        width: 100px;
        margin-top: 15px;
      }
      .member-left {
        left: 20px;
      }
      .member-right {
        right: 20px;
      }
      .selected-member {
        background-color: @white-1;
        position: relative;
        width: 120px;
        margin: 0px auto;
      }
      img.center {
          height: 140px;
          width: 120px;
          border: 5px solid @white-1;
          overflow: hidden;
        }
      // Left and Right Images of Carousel
      img.left, img.right {
        opacity: .5;
        width: 100px;
        height: 110px;
        border: 5px solid @white-1;
        overflow: hidden;
      }
    }
    .loan-team-contact, .loan-team-chat, .loan-team-video {
      z-index: 1001;
      p {
        background-color: @white-1;
        text-align: center;
        margin: 5px 0px 20px;
        font-size: 14px;
        strong {
          font-size: 24px;
          margin: 10px 0px;
        }
        .btn {
          margin: 10px 0px;
        }
      }

    }
    .loan-team-footer {
      background-color: @black-1;
      width: 100%;
      ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
        li {
          display: inline-block;
          padding: 5px 16px;
          font-size: 24px;
          a { color: @white-1; }
          &:hover {
            background-color: @red-1;
          }
        }
        li.current {
          background-color: @red-1;
          position: relative;
        }
        li.current:after {
          content: '';
          height: 0;
          width: 0;
          position: absolute;
          border: 10px solid transparent;
          border-bottom-color: @red-1;
          top: -18px;
          left: 18px;
        }
      }
    }
  }
}

/* END LOAN TEAM */

/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}

/* Slick Theme Styles */

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick/slick.eot');
    src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
