/* NAVBAR */

.navbar {
  margin: 0 0 0 -15px;
  max-height: 60px;
}

.navbar-collapse {
  padding: 0;
  margin: 0;
}

.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-default .navbar-nav > li > a {
  color: @black-1;
  line-height: inherit;
}

.navbar-right .dropdown-menu {
  top: 115%;
  width: 100%;
}

.nav.navbar-nav.top-navbar .dropdown-menu > li {
  position: relative;
}

.nav.navbar-nav.top-navbar .dropdown-menu > li > a {
  cursor: pointer;
  color: @black-2;
  width: 100%;
}

.nav.navbar-nav.top-navbar > li span.absolute {
  position: absolute;
  top: 5px;
  left: 25px;
  line-height:7px !important;
  font-weight: 400 ! important;
  border-radius: 15px;
  padding: 4px;
  z-index: 4;
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #eee;
  border-bottom: none;
}

.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus {
  color: @black-1;
  background-color: inherit;
}

.navbar-nav > li > .dropdown-menu:before {
  border-bottom: 6px solid @lightblue-1;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  right: 20px;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  bottom:100%;
}
.navbar-nav > li > .dropdown-menu{
  z-index: 8;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  padding:0px;
  border:0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 330px;
}

.navbar-nav > li > .dropdown-menu > li > a{
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-nav > li > .dropdown-menu > li > a:focus{
  background: rgba(0,0,0,0.06);
}

.navbar-nav > li > .dropdown-menu .dropdown-header{
  background: @lightblue-1;
  color:#fff;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}

.navbar-nav > li > .dropdown-menu .dropdown-header a{
  display: inline-block;
  width:auto;
  padding: 0px;
  border:none;
  margin-right:7px;
}

.navbar-nav > li > .dropdown-menu .dropdown-footer{
  background: @lightblue-1;
  color:#fff;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
.loan_bar {
  strong {
    font-size: 16px;
  }
  i {
    margin-left: 5px;
  }
  span {
    font-size: 14px;
  }
  .dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
#wrapper > div.topbar > div.navbar.navbar-default > div > div > ul.nav.navbar-nav.navbar-right.top-navbar > li.loan_bar.dropdown.hidden-xs.open > ul > li a {
  font-size: 16px;
  padding: 10px;
  &:hover {
    height: inherit;
    background-color: @red-1;
    color: @white-1;
  }
}

.navbar-nav > li.loan_bar > .dropdown-menu > li > a:hover, .navbar-nav > li.loan_bar > .dropdown-menu > li > a:focus{
  background: rgba(0,0,0,0.3);
}

.navbar-nav > li.loan_bar > .dropdown-menu:before,.navbar-nav > li > .dropdown-menu.grid-dropdown:before {
  border-bottom: 6px solid #fff;
}

.navbar-nav > li.quicklinks {
  font-size: 21px;
  padding: 5px 0px;
}

.navbar-nav > li > .dropdown-menu.grid-dropdown{
  width: 310px;
  text-align: center;
  color: @black-2;
}

.navbar-nav > li > .dropdown-menu.grid-dropdown a {
  font-size: 13px;
  color: @black-2;
  width: 100%;
  padding:10px;
  line-height:30px;
  display: block;
  font-weight: 300;
  font-family: @roboto;
  vertical-align: middle;
  opacity: 0.7;
  cursor:default;
  padding: 15px 0px 5px;
}

.navbar-nav > li > .dropdown-menu.grid-dropdown a.clickable:hover{
  background: @black-1;
  color:#fff;
}

.navbar-nav > li > .dropdown-menu.grid-dropdown a.clickable:hover i{
    color:#fff;
}

.navbar-nav > li > .dropdown-menu.grid-dropdown a i{
  font-size: 25px;
  line-height:30px;
  height:30px;
  display: block;
  color: @black-2;
}

.navbar-nav > li > .dropdown-menu.grid-dropdown a.clickable{
  opacity: 1;
  cursor: pointer;
}

.navbar-nav > li.topbar-profile > .dropdown-menu{
  background: @lightblue-2;
  color: #fff;
}

.navbar-nav > li.topbar-profile > .dropdown-menu > li > a{
  color: #eee !important;
  padding-left:10px;
  padding-right:10px;
  font-family: @roboto;
}

.navbar-nav > li.topbar-profile > .dropdown-menu > li.divider{
  background: rgba(0,0,0,0.1);
  height:2px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  margin: 4px 0;
}

.navbar-nav > li.topbar-profile > .dropdown-menu > li:hover > a, .navbar-nav > li.topbar-profile > .dropdown-menu > li:focus > a{
  color: #fff !important;
}

.navbar-nav > li.topbar-profile > .dropdown-menu:before {
  border-bottom: 6px solid @lightblue-2;
}

.topbar {
  left: 0px;
  right: 0;
  top:0px;
  height:60px;
  z-index:11;
  background:@topbar_color;
  background-image: url(../img/trees.jpg);
  position: fixed;
  -webkit-box-shadow: 1px 0 3px 0 rgba(0,0,0,0.2);
  box-shadow: 1px 0 3px 0 rgba(0,0,0,0.2);
}

.topbar .topbar-left{
  float:left;
  height:60px;
  position:relative;
  z-index: 1;
  background: @red-1;
    h4 {
        color: #eee;
        font-weight: bold;
        margin: 15px 0px 0px 15px;
    }
  .button-menu-mobile {
    float:left;
    z-index: 2;
    padding: 10px;
    width: 60px;
    font-size: 28px;
    background: transparent;
    border: none;
    color:#fff;
  }

  .button-menu-mobile:hover {
    color:#fff;
    background-color: darken(@red-1, 10%);
  }

  button.navbar-toggle {
    padding: 5px 20px;
  }
}
.logo h1{
  margin:-5px 15px;
  height:75px;
  text-align: center;
}
.logo h1 img{
  height:80%;
}

.topbar-profile .topbar-profile-image{
  width:35px;
  position: relative;
  margin-right: 5px;
  margin-top: -15px;
  margin-bottom: -12px;
  border:1px solid rgba(0,0,0,0.2)
}

.topbar-profile > a{
  font-family: @lato;
}

.navbar-right {
  background-color: rgba(255, 255, 255, 0.5);
  height: 60px;
  i {
    font-size: 32px;
    color: #333;
  }
}

/* END NAVBAR */