/* RIGHT SIDEBAR */

.side-menu.right {
  width: @right_sidebar_width;
  background: @gray-2;
  position: absolute;
  height:100%;
  right: 0px;
  padding: 10px 15px 50px;
  height: 100%;
  min-height: 1165px;
}

/* END RIGHT SIDEBAR */