/* LEFT SIDEBAR */

.side-menu {
  top: 0;
  bottom: 0;
  z-index:2;
}

.side-menu.left {
  width: @left_sidebar_width;
  background: @maincolor;
  position: absolute;
  top:60px;
  height: 100%;
}

body.fixed-left .side-menu.left{
  margin-top:0px;
  position:fixed;
  height:100%;
  bottom:50px;
  margin-bottom:-50px;
  padding-bottom: 50px;
}

.side-menu.left .scroll-y{
  direction:rtl;
  overflow-x:visible;

}

body.mobile .slimscrollleft,body.mobile .slimscroller{
  overflow-y:scroll;
}

.side-menu.left .scroll-y .sidebar-inner{
  direction:ltr;
}

/* SIDEBAR MENU */
.sidebar-inner{
 height:100%;
}
#sidebar-menu,#sidebar-menu ul,#sidebar-menu li,#sidebar-menu a {
 margin: 0;
 padding: 0;
 border: 0;
 list-style: none;
 font-weight: normal;
 text-decoration: none;
 line-height: 1;
 font-size: 14px;
 position: relative;
}

#sidebar-menu a {
 line-height: 1.3;
}

#sidebar-menu {
 width: 100%;
 font-family:@roboto;
}
#sidebar-menu > ul > li{
 background:@maincolor;
 display: block;
}
#sidebar-menu > ul > li > a {
 font-size: 16px;
 display: block;
 color: #e7e7e7;
 padding: 10px;
 text-shadow:0px -1px 0px rgba(0,0,0,0.1);
 padding-right: 22px;
  font-weight: bold;
}

#sidebar-menu > ul > li > a > span{
 vertical-align: middle;
}

#sidebar-menu > ul > li > a:hover {
 color: #fff;
 background: @first_level_hover;
 padding-left: 10px;
}

#sidebar-menu > ul > li > a > i {
 color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
  width: 40px;
}

#sidebar-menu > ul > li > a > i.i-right {
 margin: 3px 0 0 0;
 float: right;
}

#sidebar-menu > ul > li > a:hover {
 text-decoration: none;
}

#sidebar-menu > ul > li > a.subdrop {
 background: @first_level_hover;
}

#sidebar-menu > ul > li > a.active,#sidebar-menu > ul > li > a.active.subdrop {
 color: #fff;
 background: @hovercolor !important;
 border-left:5px solid rgba(0,0,0,0.3);
 padding-left: 5px;
}

#sidebar-menu > ul > li > a.open:after, #sidebar-menu > ul > li > a.active:after{
 border-color: rgba(0, 0, 0, 0) @contentbg rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 11px 11px 11px 0;
  content: " ";
  height: 0;
  position: absolute;
  right: 0;
  top: 16px;
  width: 0;
  z-index: 2;
}

#sidebar-menu > ul > li > a span.label {
 float: right;
}

#sidebar-menu > ul > li > a span.label.span-left {
 float: none;
 margin-left: 5px;
}

#sidebar-menu span.cnt {
 position: absolute;
 top: 8px;
 right: 15px;
 padding: 0;
 margin: 0;
 background: none;
}

/* SIDEBAR SUBMENU */
#sidebar-menu ul ul {
 display: none;
 background: @second_level;
 border-top:1px solid rgba(0,0,0,0.1);
 border-bottom: 2px solid rgba(0,0,0,0.1);
}

#sidebar-menu ul ul ul{
 border-top:1px solid rgba(0,0,0,0.1);
 background: rgba(0,0,0,0.2);
}

#sidebar-menu ul ul li {
 border-top: 0;
}

#sidebar-menu ul ul a {
 padding: 12px 55px;
 display: block;
 color: @white-1;
 font-family: @roboto;
 font-size: 14px;
}
#sidebar-menu > ul > li > a > span.pull-right > i {
  font-size: 18px;
  margin-top: 7px;
}
#sidebar-menu ul ul ul a {
 padding-left:35px;
}

#sidebar-menu ul ul ul ul a {
 padding-left: 45px;
}

#sidebar-menu ul ul a:hover {
 color: #fff;
 background: #222;
}

#sidebar-menu ul ul li a.active {
 color: #fff;
 border-left: solid 5px @red-1;
 background-color: lighten(@black-1, 5%);
 span {
  margin-left: -5px;
 }
}

#sidebar-menu ul li a.active i {
  color: @white-1;
}

#sidebar-menu ul ul a i {
 margin-right: 5px;
}

#sidebar-menu > ul.menu-bottom {
  bottom: 0px;
}

#wrapper.enlarged #sidebar-menu ul ul{
 border:none;
}
#wrapper.enlarged .left.side-menu .widget{
 display:none;
}

#wrapper.enlarged .profile-text{
 display:none;
}

#wrapper.enlarged .profile-info .col-xs-4{
 width:100%;
 padding:5px;
}

#wrapper.enlarged .profile-info .col-xs-8{
 width:100%;
 padding:0 7px;
}

#wrapper.enlarged .left.side-menu{
  width:@resized_left;
  z-index:5;
}

#wrapper.enlarged .content-page{
  margin-left:@resized_left;
}

#wrapper.enlarged .left.side-menu .navbar-form input::-webkit-input-placeholder { color:transparent !important; }
#wrapper.enlarged .left.side-menu .navbar-form input:-moz-placeholder { color:transparent !important; }
#wrapper.enlarged .left.side-menu .navbar-form input::-moz-placeholder { color:transparent !important; }
#wrapper.enlarged .left.side-menu .navbar-form input:-ms-input-placeholder { color:transparent !important; }

#wrapper.enlarged .left.side-menu .navbar-form:hover{
  width:@left_sidebar_width;
  position:relative;
  z-index:5;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li{
  white-space: nowrap;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > ul{
  display:none;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a{
 background: @first_level_hover;
}

#wrapper.enlarged #sidebar-menu ul ul li a.active {
 background: darken(@second_level,5%) !important;
}

#wrapper.enlarged #sidebar-menu > ul > li:hover > a.open:after, #wrapper.enlarged #sidebar-menu > ul > li:hover > a.active:after{
 display:none;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul{
 position:absolute;
 left:@resized_left;
 width:@left_sidebar_width - @resized_left;
 display:block;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li:hover > a{
 background: #59646E !important;
 color:#fff;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li:hover > a i{
 background: #59646E !important;
 color:#fff;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li:hover > ul{
 position:absolute;
 left:@left_sidebar_width - @resized_left;
 margin-top:-36px;
 width:@left_sidebar_width - @resized_left;
 display:block;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a{
 background:@second_level;
 color:#fff !important;
 padding-left:10px;
 border:none;
 width:@left_sidebar_width - @resized_left;
 box-shadow:none;
 z-index:6;
 position:relative;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li > a span.pull-right{
 position: absolute;
 right:10px;
 top:12px;
 -ms-transform: rotate(270deg); /* IE 9 */
 -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
 transform: rotate(270deg);
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > a span{
 display:none;
 padding-left:15px;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a span.pull-right{
 position: absolute;
 right:10px;
 top:12px;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a{
 width:@left_sidebar_width;
 position:relative;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li{
   position:relative;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover a span{
   display:inline;
}

#wrapper.enlarged .left.side-menu .navbar-form{

}

#wrapper.enlarged .left.side-menu .navbar-form .search-button{
   right:7px;
}

// /* SIDEBAR PROFILE */

.rounded-image{
    -webkit-border-radius: 100px;
    border-radius: 100px;
    overflow:hidden;
    display:inline-block;
    img {
      width: 100%;
    }
}
.profile-image{
    border:4px double rgba(255,255,255,0.2)
}

.profile-text{
    color:#fff;
    font-family:@lato;
    font-size:18px;
    margin-top: 5px;
}

.profile-buttons{
    margin-top:5px;
}

.profile-buttons a{
    color:#eee;
    font-size:13px;
    line-height:22px;
    padding:4px 10px 6px;
    vertical-align:middle;
    display:inline-block;
}

.profile-buttons a i{
    font-size:16px;
    line-height:25px;
}

.profile-buttons a:hover{
    color:#fff;
    background: rgba(0,0,0,0.2);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.profile-status i{
    color:#444;
    font-size:14px;
    float:right;
    margin-top:-14px;
}

i.online{
    color:#00AC65;
}

hr.divider{
    border-color:rgba(255,255,255,0.1);
    width:90%;
    margin:10px 5%;
    display:block;
    clear:both
}

/* END LEFT SIDEBAR */