/* LESS UI SLIDER */

#RangeSlider {
  #amount {
    border: 0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #5B605F;
    height: 30px;
    margin-bottom: 15px;
  }
  .ui-slider {
    position: relative;
    text-align: left;
  }
  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    background: @blue-1;
    border: 0px solid #d3d3d3;
  }
  .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }
  .ui-widget input {
    font-family: @roboto;
    font-size: 16px;
    font-weight: bold;
  }
  .ui-widget-content {
    border: inherit !important;
    background: #5B605F;
  }
  .ui-slider .ui-slider-range {
    background: @green-1;
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }
  .ui-slider-horizontal {
    height: 10px;
  }
  .ui-slider-horizontal .ui-slider-handle {
    top: -8px;
    margin-left: 0px;
  }
  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
  }
  .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
  }
  .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
  }
}

/* END LESS UI SLIDER */