/* LESS WIDGETS */
/* REGULAR WIDGETS */
.widget {
  position: relative;
  background: @white-2;
  color: @black-1;
  margin-bottom: 30px;
  font-family: @lato;
}

.widget-header,.widget-content{
  display: block;
  width: 100%;
  clear: both;
}

.widget-header {
  background: @black-3;
  color: @white-1;
  font-weight: bold;
  font-size: 16px;
  font-family: @roboto;
  height: 40px;
  padding: 10px 0px 10px 20px;
}

.widget-header.transparent {
  background:transparent;
  border:none;
}

.widget-header.centered {
  text-align:center;
}

.widget-header .left-btn{
  position: absolute;
  left:10px;
  top:6px;
}

.widget-content{
  padding: 20px;
  font-size: 14px;
}

/* BASIC WIDGETS */
.basic-widget {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  min-height: 300px;
}

.basic-widget-header,.basic-widget-content{
  display: block;
  width: 100%;
  clear: both;
}

.basic-widget-header {
  color: @black-2;
  font-size: 18px;
  font-family: @roboto;
  height: 45px;
  padding: 20px 0px 0px 20px;
  font-weight: 500;
  i  {
    font-size: 24px;
    margin-right: 5px;
    vertical-align: text-bottom;
  }
}

.basic-widget-header.transparent{
  background:transparent;
  border:none;
}

.basic-widget-header.centered{
  text-align:center;
}

.basic-widget-header .left-btn{
  position: absolute;
  left:10px;
  top:6px;
}

.basic-widget-content{
  padding: 10px 20px 20px;
  font-size: 14px;
  p {
    margin: 0px 0px 20px;
  }
}

.basic-widget-footer {
  border-top: solid #C8C8C8 2px;
  background-color: #fff;
}

/* END LESS WIDGETS */