<apex:page showHeader="false"
    sidebar="false"
    applyBodyTag="false"
    standardStylesheets="false"
    controller="CP2_UserProfile"
    id="UserProfilePage"
    >
    <apex:composition template="CP2_PageWrapperTemplate">
        <apex:define name="mainContent">
            <div class="row">

                <div class="col-lg-12 page-header">
                    <h2 class="col-lg-4 col-md-12 page-title">User Settings</h2>
                    <p class="col-lg-8 col-md-12 lead">Aliquam at porttitor sem. Aliquam erat volutpat.</p>
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="basic-widget">
                    <div class="basic-widget-header"><i class="fa fa-envelope"></i> Contact Information:</div>
                        <div class="basic-widget-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. </p>

                        <form>
                            <div class="form-group clearfix">
                                <label for="email">Email:</label>
                                <input type="email" id="email" class="form-control" value="{!email}" />
                                <button class="btn save" id="updateEmail">Update</button>
                            </div>
                            <div class="form-group clearfix">
                                <label for="phone">Phone:</label>
                                <input type="text" class="form-control" id="phone" value="{!phone}" />
                                <button class="btn save" id="updatePhone">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="basic-widget">
                    <div class="basic-widget-header"><i class="fa fa-circle-o"></i> Password:</div>

                    <div class="basic-widget-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. </p>
                    <form class="row password">
                        <div class="form-group clearfix col-lg-6 col-md-12">
                            <label for="currentPass">Current Password:</label>
                            <input type="password" class="form-control" id="currentPass" value=""/>
                        </div>

                        <div class="form-group clearfix col-lg-6 col-md-12">
                            <label class="" for="newPass">New Password:</label>
                            <input type="password" class="form-control" id="newPass" />
                            <br/><br/>
                            <label for="newPassValidator">Retype New Password:</label>
                            <input type="text" class="form-control" id="newPassValidator" value="" />
                            <div class="btn-group">
                                <button class="btn cancel" id="cancelPassword">Cancel</button>
                                <button class="btn save update" id="updatePassword">Update</button>
                            </div>
                        </div>
                    </form>
                    </div><!-- END WIDGET CONTENT -->
                </div><!-- END WIDGET PASSWORDS -->
            </div>

            <div class="col-md-5 col-sm-12">
                <div class="basic-widget profile">
                    <div class="basic-widget-header"><i class="fa fa-camera"></i> Profile Image:</div>
                    <div class="basic-widget-content">

                        <img class="profilePicture" src="{!photoUrl}"/>
                        <p>Accepted file formates Lorem ipsum dolor sit amet porttitor sem.  Aliquam erat volutpat.</p>

                        <div id="picUploadDefault" class="choose_file">
                            <span>Choose File</span>
                            <input type="file" id="profilePicture" accept="image/*" />
                            <button class="btn save upload" id="ajaxUpload" style="display: none;">Upload Picture </button>
                        </div>

                        <p class="disclaimer">Your photo can also be updated using <strong>LinkedIn</strong>. Learn how to <strong>link your account</strong>.</p>

<!--                    <div id="picUploadFallback" class="choose_file">
                            <apex:form id="ProfileFormManual">
                                <apex:pageBlock >
                                    <apex:pageBlockSection >
                                        <apex:inputFile value="{!profilePicBody}" filename="{!profilePicName}"/>
                                        <apex:commandButton value="Upload Picture" styleClass="btn save upload" action="{!standardUpload}"/>
                                    </apex:pageBlockSection>
                                </apex:pageBlock>
                            </apex:form>
                        </div> -->

                    <div class="basic-widget-footer">
                        <!-- <script type="IN/Login" data-onAuth="CP2_UserProfileJS.onLinkedInLoad"></script> -->
                        <button id="uploadLinkedInButton" class="btn save linkedin">Link Account</button>
                    </div><!-- END WIDGET FOOTER -->
                </div><!-- END WIDGET CONTENT -->
            </div><!-- END WIDGET PROFILE -->
        </div>
</div>
        <c:CP2_UserProfileJS />
        <script type="text/javascript" src="//platform.linkedin.com/in.js">/*
            api_key: 78yfz681o32byx
            onLoad: CP2_UserProfileJS.onLinkedInLoad
            authorize: true
        */</script>
        </apex:define>
    </apex:composition>
</apex:page>