@charset 'UTF-8';
/* LESS VARIABLES*/
/* COLORS */
/* Alert Colors */
.alert-success {
  color: #fff !important;
  background-color: #68C39F;
  border-color: #47b187;
}
.alert-success .alert-link {
  color: #fafafa !important;
  font-weight: bold;
}
.alert-danger {
  color: #fafafa;
  background-color: #a71930;
  border-color: #eb5055;
}
.alert-danger .alert-link {
  color: #fafafa !important;
  font-weight: bold;
}
.alert-info {
  color: #fafafa !important;
  background-color: #65BBD6;
  border: 1px solid #65BBD6;
}
.alert-info h4 {
  font-weight: 600;
}
.alert-info .alert-link {
  color: #fafafa !important;
  font-weight: bold;
}
.alert-warning {
  color: #fafafa !important;
  background-color: #FFC052;
  border: 1px solid #FFC052;
}
.alert-warning .alert-link {
  color: #fafafa !important;
  font-weight: bold;
}
/* COLORS END */
/* FONTS */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato/lato-regular-webfont.woff') format('woff');
  
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
  
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'), url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
  
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/roboto-cond/robotocondended-regular-webfont.woff2') format('woff2'), url('../fonts/robotocond/robotocondended-regular-webfont.woff') format('woff');
  
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* LESS MIXINS */
/* LESS LAYOUT */
body {
  background: #ebebeb;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
h1 {
  line-height: 43px;
}
h2 {
  line-height: 35px;
  font-family: 'Roboto Bold', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
h3 {
  line-height: 30px;
}
h4 {
  line-height: 22px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
h3 small,
h4 small,
h5 small {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #474747;
}
* {
  outline: none !important;
}
a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
.label {
  padding: 0.3em 0.6em;
}
.container {
  width: auto;
}
/* MASTER PAGE */
#wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.page {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.rows,
.col,
.page {
  position: absolute;
}
.rows {
  left: 0;
  right: 0;
}
#wrapper.enlarged .topbar .topbar-left {
  width: 60px !important;
}
#wrapper.enlarged .topbar .topbar-left .logo {
  opacity: 0;
  display: none;
}
.col {
  top: 0;
  bottom: 0;
}
.scroll-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.scroll-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.fill,
.pane {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.pane {
  display: none;
}
.table-noborder td {
  border: 0px !important;
}
.badge {
  vertical-align: bottom;
}
.btn-group.spaced .btn {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-group.open {
  z-index: 2 !important;
}
.bold {
  font-weight: 700 !important;
}
.semibold {
  font-weight: 600 !important;
}
.input-invis {
  background: none !important;
  border: none !important;
}
span.new-circle {
  border-radius: 10px;
  padding: 5px;
}
img.xs-avatar {
  width: 50px;
  padding: 2px;
  background: #fff;
  border: 1px solid #ddd;
  margin: 0px 4px 0 0;
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;
}
img.ava-dropdown {
  float: left;
  margin: 0px 10px 0 0;
}
.no-left-padding {
  padding-left: 0px;
}
.no-right-padding {
  padding-right: 0px;
}
.nomargin {
  margin: 0px !important;
}
.no-rounded {
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}
.full-rounded {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
}
.stacked {
  margin: 0px;
}
.stacked > [class*="col-"] {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px !important;
}
.content-page {
  margin-left: 280px;
  overflow: hidden;
  position: relative;
  margin-right: 340px;
  min-height: 1100px;
}
.content-page > .content {
  margin-top: 98px;
  padding: 30px;
  position: relative;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #474747;
}
/* Page Header */
.page-header {
  margin: 0px 0px 0px 0px;
  padding-bottom: 25px;
  border: none;
}
.page-header h2.page-title {
  background-color: #5b605f;
  color: #ffffff;
  float: left;
}
.page-header .lead {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 0px;
}
/* Custom Buttons */
.btn {
  border-radius: 2px;
}
.btn.save {
  background: #3983c5;
  color: #ffffff;
}
.btn.save:hover {
  background: #30395c;
}
/* NAVBAR */
.navbar {
  margin: 0 0 0 -15px;
  max-height: 60px;
}
.navbar-collapse {
  padding: 0;
  margin: 0;
}
.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-default .navbar-nav > li > a {
  color: #333333;
  line-height: inherit;
}
.navbar-right .dropdown-menu {
  top: 115%;
  width: 100%;
}
.nav.navbar-nav.top-navbar .dropdown-menu > li {
  position: relative;
}
.nav.navbar-nav.top-navbar .dropdown-menu > li > a {
  cursor: pointer;
  color: #474747;
  width: 100%;
}
.nav.navbar-nav.top-navbar > li span.absolute {
  position: absolute;
  top: 5px;
  left: 25px;
  line-height: 7px !important;
  font-weight: 400 ! important;
  border-radius: 15px;
  padding: 4px;
  z-index: 4;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #eee;
  border-bottom: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #333333;
  background-color: inherit;
}
.navbar-nav > li > .dropdown-menu:before {
  border-bottom: 6px solid #abb7b7;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  right: 20px;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  bottom: 100%;
}
.navbar-nav > li > .dropdown-menu {
  z-index: 8;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 0px;
  border: 0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 330px;
}
.navbar-nav > li > .dropdown-menu > li > a {
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-nav > li > .dropdown-menu > li > a:focus {
  background: rgba(0, 0, 0, 0.06);
}
.navbar-nav > li > .dropdown-menu .dropdown-header {
  background: #abb7b7;
  color: #fff;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.navbar-nav > li > .dropdown-menu .dropdown-header a {
  display: inline-block;
  width: auto;
  padding: 0px;
  border: none;
  margin-right: 7px;
}
.navbar-nav > li > .dropdown-menu .dropdown-footer {
  background: #abb7b7;
  color: #fff;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
.loan_bar strong {
  font-size: 16px;
}
.loan_bar i {
  margin-left: 5px;
}
.loan_bar span {
  font-size: 14px;
}
.loan_bar .dropdown-toggle {
  padding-top: 10px;
  padding-bottom: 10px;
}
#wrapper > div.topbar > div.navbar.navbar-default > div > div > ul.nav.navbar-nav.navbar-right.top-navbar > li.loan_bar.dropdown.hidden-xs.open > ul > li a {
  font-size: 16px;
  padding: 10px;
}
#wrapper > div.topbar > div.navbar.navbar-default > div > div > ul.nav.navbar-nav.navbar-right.top-navbar > li.loan_bar.dropdown.hidden-xs.open > ul > li a:hover {
  height: inherit;
  background-color: #a71930;
  color: #ffffff;
}
.navbar-nav > li.loan_bar > .dropdown-menu > li > a:hover,
.navbar-nav > li.loan_bar > .dropdown-menu > li > a:focus {
  background: rgba(0, 0, 0, 0.3);
}
.navbar-nav > li.loan_bar > .dropdown-menu:before,
.navbar-nav > li > .dropdown-menu.grid-dropdown:before {
  border-bottom: 6px solid #fff;
}
.navbar-nav > li.quicklinks {
  font-size: 21px;
  padding: 5px 0px;
}
.navbar-nav > li > .dropdown-menu.grid-dropdown {
  width: 310px;
  text-align: center;
  color: #474747;
}
.navbar-nav > li > .dropdown-menu.grid-dropdown a {
  font-size: 13px;
  color: #474747;
  width: 100%;
  padding: 10px;
  line-height: 30px;
  display: block;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
  opacity: 0.7;
  cursor: default;
  padding: 15px 0px 5px;
}
.navbar-nav > li > .dropdown-menu.grid-dropdown a.clickable:hover {
  background: #333333;
  color: #fff;
}
.navbar-nav > li > .dropdown-menu.grid-dropdown a.clickable:hover i {
  color: #fff;
}
.navbar-nav > li > .dropdown-menu.grid-dropdown a i {
  font-size: 25px;
  line-height: 30px;
  height: 30px;
  display: block;
  color: #474747;
}
.navbar-nav > li > .dropdown-menu.grid-dropdown a.clickable {
  opacity: 1;
  cursor: pointer;
}
.navbar-nav > li.topbar-profile > .dropdown-menu {
  background: #7a868f;
  color: #fff;
}
.navbar-nav > li.topbar-profile > .dropdown-menu > li > a {
  color: #eee !important;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
}
.navbar-nav > li.topbar-profile > .dropdown-menu > li.divider {
  background: rgba(0, 0, 0, 0.1);
  height: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 4px 0;
}
.navbar-nav > li.topbar-profile > .dropdown-menu > li:hover > a,
.navbar-nav > li.topbar-profile > .dropdown-menu > li:focus > a {
  color: #fff !important;
}
.navbar-nav > li.topbar-profile > .dropdown-menu:before {
  border-bottom: 6px solid #7a868f;
}
.topbar {
  left: 0px;
  right: 0;
  top: 0px;
  height: 60px;
  z-index: 11;
  background: #ffffff;
  background-image: url(../img/trees.jpg);
  position: fixed;
  -webkit-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
}
.topbar .topbar-left {
  float: left;
  height: 60px;
  position: relative;
  z-index: 1;
  background: #a71930;
}
.topbar .topbar-left h4 {
  color: #eee;
  font-weight: bold;
  margin: 15px 0px 0px 15px;
}
.topbar .topbar-left .button-menu-mobile {
  float: left;
  z-index: 2;
  padding: 10px;
  width: 60px;
  font-size: 28px;
  background: transparent;
  border: none;
  color: #fff;
}
.topbar .topbar-left .button-menu-mobile:hover {
  color: #fff;
  background-color: #7b1223;
}
.topbar .topbar-left button.navbar-toggle {
  padding: 5px 20px;
}
.logo h1 {
  margin: -5px 15px;
  height: 75px;
  text-align: center;
}
.logo h1 img {
  height: 80%;
}
.topbar-profile .topbar-profile-image {
  width: 35px;
  position: relative;
  margin-right: 5px;
  margin-top: -15px;
  margin-bottom: -12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.topbar-profile > a {
  font-family: 'Lato', sans-serif;
}
.navbar-right {
  background-color: rgba(255, 255, 255, 0.5);
  height: 60px;
}
.navbar-right i {
  font-size: 32px;
  color: #333;
}
/* LESS BREADCRUMBS */
.sub-topbar {
  padding: 10px 30px 6px;
  background: #ebebeb;
  position: relative;
  font-family: 'Roboto', sans-serif;
  border-radius: 0px;
  border-bottom: 4px solid #e0e0e0;
  margin-left: 280px;
  height: 45px;
  /* BREADCRUMBS */
  /* Loan Dropdown */
  /* Fix for IE 8 putting the arrows behind the select element. */
  /* Dirty fix for Firefox adding padding where it shouldn't. */
}
.sub-topbar .breadcrumb {
  padding: 0;
  background: transparent;
  font-size: 16px;
  margin: 0;
  margin-right: 340px;
  list-style: none;
}
.sub-topbar .breadcrumb li a {
  font-family: 'Roboto', sans-serif;
  color: #555;
}
.sub-topbar .breadcrumb li.active {
  color: #888;
}
.sub-topbar .breadcrumb > li + li:before {
  color: #9dabab;
  padding: 0px 10px;
  content: "";
  font-family: 'FontAwesome';
}
.sub-topbar .dropdown {
  width: 340px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  height: 40px;
  color: #ffffff;
  background: #a71930;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}
.sub-topbar .dropdown:before,
.sub-topbar .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 20px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #ffffff transparent;
  pointer-events: none;
}
.sub-topbar .dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.sub-topbar .dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}
.sub-topbar .dropdown-select {
  position: relative;
  width: 340px;
  margin: 0;
  padding: 8px 10px 8px 15px;
  line-height: 14px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background: #f2f2f2;
  /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important;
  /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  height: 41px;
  border-bottom: 3px #91162a solid;
}
.sub-topbar .dropdown-select:focus {
  z-index: 3;
  width: 100%;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}
.sub-topbar .lt-ie9 .dropdown {
  z-index: 1;
}
.sub-topbar .lt-ie9 .dropdown-select {
  z-index: -1;
}
.sub-topbar .lt-ie9 .dropdown-select:focus {
  z-index: 3;
}
@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}
#wrapper.enlarged .topbar .sub-topbar {
  margin-left: 60px !important;
}
/* LEFT SIDEBAR */
.side-menu {
  top: 0;
  bottom: 0;
  z-index: 2;
}
.side-menu.left {
  width: 280px;
  background: #333333;
  position: absolute;
  top: 60px;
  height: 100%;
}
body.fixed-left .side-menu.left {
  margin-top: 0px;
  position: fixed;
  height: 100%;
  bottom: 50px;
  margin-bottom: -50px;
  padding-bottom: 50px;
}
.side-menu.left .scroll-y {
  direction: rtl;
  overflow-x: visible;
}
body.mobile .slimscrollleft,
body.mobile .slimscroller {
  overflow-y: scroll;
}
.side-menu.left .scroll-y .sidebar-inner {
  direction: ltr;
}
/* SIDEBAR MENU */
.sidebar-inner {
  height: 100%;
}
#sidebar-menu,
#sidebar-menu ul,
#sidebar-menu li,
#sidebar-menu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-size: 14px;
  position: relative;
}
#sidebar-menu a {
  line-height: 1.3;
}
#sidebar-menu {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
#sidebar-menu > ul > li {
  background: #333333;
  display: block;
}
#sidebar-menu > ul > li > a {
  font-size: 16px;
  display: block;
  color: #e7e7e7;
  padding: 10px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  padding-right: 22px;
  font-weight: bold;
}
#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}
#sidebar-menu > ul > li > a:hover {
  color: #fff;
  background: #4d4d4d;
  padding-left: 10px;
}
#sidebar-menu > ul > li > a > i {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
  width: 40px;
}
#sidebar-menu > ul > li > a > i.i-right {
  margin: 3px 0 0 0;
  float: right;
}
#sidebar-menu > ul > li > a:hover {
  text-decoration: none;
}
#sidebar-menu > ul > li > a.subdrop {
  background: #4d4d4d;
}
#sidebar-menu > ul > li > a.active,
#sidebar-menu > ul > li > a.active.subdrop {
  color: #fff;
  background: #a71930 !important;
  border-left: 5px solid rgba(0, 0, 0, 0.3);
  padding-left: 5px;
}
#sidebar-menu > ul > li > a.open:after,
#sidebar-menu > ul > li > a.active:after {
  border-color: rgba(0, 0, 0, 0) #ebebeb rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 11px 11px 11px 0;
  content: " ";
  height: 0;
  position: absolute;
  right: 0;
  top: 16px;
  width: 0;
  z-index: 2;
}
#sidebar-menu > ul > li > a span.label {
  float: right;
}
#sidebar-menu > ul > li > a span.label.span-left {
  float: none;
  margin-left: 5px;
}
#sidebar-menu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}
/* SIDEBAR SUBMENU */
#sidebar-menu ul ul {
  display: none;
  background: #262626;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
#sidebar-menu ul ul ul {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}
#sidebar-menu ul ul li {
  border-top: 0;
}
#sidebar-menu ul ul a {
  padding: 12px 55px;
  display: block;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
#sidebar-menu > ul > li > a > span.pull-right > i {
  font-size: 18px;
  margin-top: 7px;
}
#sidebar-menu ul ul ul a {
  padding-left: 35px;
}
#sidebar-menu ul ul ul ul a {
  padding-left: 45px;
}
#sidebar-menu ul ul a:hover {
  color: #fff;
  background: #222;
}
#sidebar-menu ul ul li a.active {
  color: #fff;
  border-left: solid 5px #a71930;
  background-color: #404040;
}
#sidebar-menu ul ul li a.active span {
  margin-left: -5px;
}
#sidebar-menu ul li a.active i {
  color: #ffffff;
}
#sidebar-menu ul ul a i {
  margin-right: 5px;
}
#sidebar-menu > ul.menu-bottom {
  bottom: 0px;
}
#wrapper.enlarged #sidebar-menu ul ul {
  border: none;
}
#wrapper.enlarged .left.side-menu .widget {
  display: none;
}
#wrapper.enlarged .profile-text {
  display: none;
}
#wrapper.enlarged .profile-info .col-xs-4 {
  width: 100%;
  padding: 5px;
}
#wrapper.enlarged .profile-info .col-xs-8 {
  width: 100%;
  padding: 0 7px;
}
#wrapper.enlarged .left.side-menu {
  width: 60px;
  z-index: 5;
}
#wrapper.enlarged .content-page {
  margin-left: 60px;
}
#wrapper.enlarged .left.side-menu .navbar-form input::-webkit-input-placeholder {
  color: transparent !important;
}
#wrapper.enlarged .left.side-menu .navbar-form input:-moz-placeholder {
  color: transparent !important;
}
#wrapper.enlarged .left.side-menu .navbar-form input::-moz-placeholder {
  color: transparent !important;
}
#wrapper.enlarged .left.side-menu .navbar-form input:-ms-input-placeholder {
  color: transparent !important;
}
#wrapper.enlarged .left.side-menu .navbar-form:hover {
  width: 280px;
  position: relative;
  z-index: 5;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li {
  white-space: nowrap;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > ul {
  display: none;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
  background: #4d4d4d;
}
#wrapper.enlarged #sidebar-menu ul ul li a.active {
  background: #1a1a1a !important;
}
#wrapper.enlarged #sidebar-menu > ul > li:hover > a.open:after,
#wrapper.enlarged #sidebar-menu > ul > li:hover > a.active:after {
  display: none;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul {
  position: absolute;
  left: 60px;
  width: 220px;
  display: block;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li:hover > a {
  background: #59646E !important;
  color: #fff;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li:hover > a i {
  background: #59646E !important;
  color: #fff;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li:hover > ul {
  position: absolute;
  left: 220px;
  margin-top: -36px;
  width: 220px;
  display: block;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a {
  background: #262626;
  color: #fff !important;
  padding-left: 10px;
  border: none;
  width: 220px;
  box-shadow: none;
  z-index: 6;
  position: relative;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li > a span.pull-right {
  position: absolute;
  right: 10px;
  top: 12px;
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > a span {
  display: none;
  padding-left: 15px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a span.pull-right {
  position: absolute;
  right: 10px;
  top: 12px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
  width: 280px;
  position: relative;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li {
  position: relative;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover a span {
  display: inline;
}
#wrapper.enlarged .left.side-menu .navbar-form .search-button {
  right: 7px;
}
.rounded-image {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  overflow: hidden;
  display: inline-block;
}
.rounded-image img {
  width: 100%;
}
.profile-image {
  border: 4px double rgba(255, 255, 255, 0.2);
}
.profile-text {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-top: 5px;
}
.profile-buttons {
  margin-top: 5px;
}
.profile-buttons a {
  color: #eee;
  font-size: 13px;
  line-height: 22px;
  padding: 4px 10px 6px;
  vertical-align: middle;
  display: inline-block;
}
.profile-buttons a i {
  font-size: 16px;
  line-height: 25px;
}
.profile-buttons a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.profile-status i {
  color: #444;
  font-size: 14px;
  float: right;
  margin-top: -14px;
}
i.online {
  color: #00AC65;
}
hr.divider {
  border-color: rgba(255, 255, 255, 0.1);
  width: 90%;
  margin: 10px 5%;
  display: block;
  clear: both;
}
/* LESS WIDGETS */
/* REGULAR WIDGETS */
.widget {
  position: relative;
  background: #fafafa;
  color: #333333;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
}
.widget-header,
.widget-content {
  display: block;
  width: 100%;
  clear: both;
}
.widget-header {
  background: #5b605f;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  height: 40px;
  padding: 10px 0px 10px 20px;
}
.widget-header.transparent {
  background: transparent;
  border: none;
}
.widget-header.centered {
  text-align: center;
}
.widget-header .left-btn {
  position: absolute;
  left: 10px;
  top: 6px;
}
.widget-content {
  padding: 20px;
  font-size: 14px;
}
/* BASIC WIDGETS */
.basic-widget {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  min-height: 300px;
}
.basic-widget-header,
.basic-widget-content {
  display: block;
  width: 100%;
  clear: both;
}
.basic-widget-header {
  color: #474747;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  height: 45px;
  padding: 20px 0px 0px 20px;
  font-weight: 500;
}
.basic-widget-header i {
  font-size: 24px;
  margin-right: 5px;
  vertical-align: text-bottom;
}
.basic-widget-header.transparent {
  background: transparent;
  border: none;
}
.basic-widget-header.centered {
  text-align: center;
}
.basic-widget-header .left-btn {
  position: absolute;
  left: 10px;
  top: 6px;
}
.basic-widget-content {
  padding: 10px 20px 20px;
  font-size: 14px;
}
.basic-widget-content p {
  margin: 0px 0px 20px;
}
.basic-widget-footer {
  border-top: solid #C8C8C8 2px;
  background-color: #fff;
}
/* RIGHT SIDEBAR */
.side-menu.right {
  width: 340px;
  background: #e0e0e0;
  position: absolute;
  right: 0px;
  padding: 10px 15px 50px;
  height: 100%;
  min-height: 1165px;
}
/* LOAN TEAM HEADER */
.loan-team-header {
  margin-top: 108px;
}
.loan-team-header h4 {
  padding-left: 15px;
}
.loan-team-header h4 i {
  float: right;
  font-size: 24px;
  margin-right: 5px;
}
.loan-team-group {
  position: fixed;
}
.loan-team-wrap {
  background-color: #ffffff;
  padding: 5px;
  overflow: hidden;
}
.loan-team-wrap .loan-team .loan-team-img-group {
  display: block;
  height: 140px;
  position: relative;
  margin: 10px auto 0px;
  max-width: 345px;
}
.loan-team-wrap .loan-team .loan-team-img-group .prev,
.loan-team-wrap .loan-team .loan-team-img-group .next {
  position: absolute;
  top: 55px;
  z-index: 1001;
}
.loan-team-wrap .loan-team .loan-team-img-group .next {
  right: 10px;
}
.loan-team-wrap .loan-team .loan-team-img-group .prev {
  left: 10px;
}
.loan-team-wrap .loan-team .loan-team-img-group .fa-stack-2x {
  color: #ebebeb;
  font-size: 32px;
}
.loan-team-wrap .loan-team .loan-team-img-group .fa-stack-1x {
  color: #a71930;
  font-size: 24px;
  line-height: 32px;
}
.loan-team-wrap .loan-team .loan-team-img-group img {
  background-color: gray;
  width: 100%;
}
.loan-team-wrap .loan-team .loan-team-img-group .member-left,
.loan-team-wrap .loan-team .loan-team-img-group .member-right {
  background-color: #ffffff;
  position: absolute;
  width: 100px;
  margin-top: 15px;
}
.loan-team-wrap .loan-team .loan-team-img-group .member-left {
  left: 20px;
}
.loan-team-wrap .loan-team .loan-team-img-group .member-right {
  right: 20px;
}
.loan-team-wrap .loan-team .loan-team-img-group .selected-member {
  background-color: #ffffff;
  position: relative;
  width: 120px;
  margin: 0px auto;
}
.loan-team-wrap .loan-team .loan-team-img-group img.center {
  height: 140px;
  width: 120px;
  border: 5px solid #ffffff;
  overflow: hidden;
}
.loan-team-wrap .loan-team .loan-team-img-group img.left,
.loan-team-wrap .loan-team .loan-team-img-group img.right {
  opacity: .5;
  width: 100px;
  height: 110px;
  border: 5px solid #ffffff;
  overflow: hidden;
}
.loan-team-wrap .loan-team .loan-team-contact,
.loan-team-wrap .loan-team .loan-team-chat,
.loan-team-wrap .loan-team .loan-team-video {
  z-index: 1001;
}
.loan-team-wrap .loan-team .loan-team-contact p,
.loan-team-wrap .loan-team .loan-team-chat p,
.loan-team-wrap .loan-team .loan-team-video p {
  background-color: #ffffff;
  text-align: center;
  margin: 5px 0px 20px;
  font-size: 14px;
}
.loan-team-wrap .loan-team .loan-team-contact p strong,
.loan-team-wrap .loan-team .loan-team-chat p strong,
.loan-team-wrap .loan-team .loan-team-video p strong {
  font-size: 24px;
  margin: 10px 0px;
}
.loan-team-wrap .loan-team .loan-team-contact p .btn,
.loan-team-wrap .loan-team .loan-team-chat p .btn,
.loan-team-wrap .loan-team .loan-team-video p .btn {
  margin: 10px 0px;
}
.loan-team-wrap .loan-team .loan-team-footer {
  background-color: #333333;
  width: 100%;
}
.loan-team-wrap .loan-team .loan-team-footer ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.loan-team-wrap .loan-team .loan-team-footer ul li {
  display: inline-block;
  padding: 5px 16px;
  font-size: 24px;
}
.loan-team-wrap .loan-team .loan-team-footer ul li a {
  color: #ffffff;
}
.loan-team-wrap .loan-team .loan-team-footer ul li:hover {
  background-color: #a71930;
}
.loan-team-wrap .loan-team .loan-team-footer ul li.current {
  background-color: #a71930;
  position: relative;
}
.loan-team-wrap .loan-team .loan-team-footer ul li.current:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: #a71930;
  top: -18px;
  left: 18px;
}
/* END LOAN TEAM */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
/* Slick Theme Styles */
/* Slider */
.slick-loading .slick-list {
  background: #ffffff url('ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick/slick.eot');
  src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}
.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '→';
}
[dir='rtl'] .slick-next:before {
  content: '←';
}
/* Dots */
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}
/* LESS CHATTER */
.chatter-header h4 {
  padding-left: 15px;
}
.chatter-header h4 i {
  float: right;
  font-size: 24px;
  margin-right: 5px;
}
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}
#messages {
  padding-bottom: 10px;
}
#messages .header {
  font-size: 16px;
  padding: 5px;
}
#messages .new-chat .btn {
  background: #37A447;
  padding: 10px 0px;
  border-radius: 0px;
  text-transform: uppercase;
  width: 25%;
  border: solid 1px #37a447;
  float: right;
  color: #ffffff;
  height: 40px;
}
#messages .new-chat .btn:hover {
  background: green;
}
.big {
  padding: 0px 10px;
  width: 75%;
  height: 40px;
}
.comment-grp {
  margin: 20px 20px 0px 10px;
  position: relative;
  padding-left: 20px;
}
.comment-grp .user-photo {
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  background-color: #ffffff;
}
.comment-grp .user-photo img {
  width: 42px;
  border-radius: 50%;
  margin: 3px;
}
.comment-grp .comment-wrp,
.comment-grp .sub-comment-wrp {
  padding: 5px 0px 0px 45px;
  list-style: none;
}
.comment-grp .comment-wrp h4,
.comment-grp .sub-comment-wrp h4 {
  display: inline;
  font-size: 15px;
  font-weight: bold;
}
.comment-grp .comment-wrp .timestamp,
.comment-grp .sub-comment-wrp .timestamp {
  float: right;
  color: #777777;
  font-size: 12px;
  margin-top: 2px;
}
.comment-grp .comment-wrp .timestamp .date,
.comment-grp .sub-comment-wrp .timestamp .date {
  margin-right: 20px;
}
.comment-grp .comment-wrp p,
.comment-grp .sub-comment-wrp p {
  color: #333333;
  font-size: 13px;
  padding: 5px 0px 10px 0px;
  line-height: 20px;
  margin-bottom: 0px;
}
.comment-grp .comment-wrp .meta,
.comment-grp .sub-comment-wrp .meta {
  color: #777777;
  font-size: 12px;
  display: block;
  text-align: right;
  margin-bottom: 10px;
}
.comment-grp .comment-wrp .meta .meta-comment,
.comment-grp .sub-comment-wrp .meta .meta-comment {
  margin-right: 30px;
}
.comment-grp .reply {
  width: 100%;
  font-size: 12px;
  padding: 7px;
  font-style: italic;
  display: block;
}
.comment-grp .sub-comment-wrp {
  padding: 10px 0px 10px 70px;
}
.comment-grp .sub-comment-wrp .user-photo {
  margin-left: 30px;
}
.comment-grp .sub-comment-wrp p {
  padding: 0px 0px 20px 0px;
}
.line {
  border-left: solid 1px #ccc;
  z-index: 100;
  border-top-left-radius: 15px;
}
.line-none {
  border-left: solid 1px #fff;
  z-index: 100;
  border-top-left-radius: 15px;
}
.sub-line {
  border-left: solid 1px #ccc;
  z-index: 100;
}
.sub-line2 {
  width: 10px;
  border-bottom: solid 1px #ccc;
  position: absolute;
  z-index: 100;
  margin-top: 25px;
  left: 20px;
}
.view-all {
  margin: 30px 0px 0px 10px;
  width: 290px;
  border-radius: 0px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.view-all i {
  font-size: 21px;
  margin-left: 10px;
}
/* FOOTER */
footer {
  padding: 10px 30px;
  font-size: 12px;
  border-top: 3px solid #e0e0e0;
  margin-top: 40px;
  color: #7a868f;
}
footer .footer-links a {
  color: #7a868f;
  padding: 1px 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
footer .footer-links a:hover {
  color: #4a525f;
}
footer .footer-links a:last-child {
  border: none;
}
/* LESS RESPONSIVE */
/*Large Desktop*/
/*Desktop*/
/*Small desktop or tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
  .button-menu-mobile {
    display: block;
  }
  .navbar {
    margin: 0 0 0 40px;
  }
  .mobile-sidebar {
    left: 0px;
  }
  .mobile-content {
    left: 225px;
    right: -225px;
  }
  .box-info .icon-box {
    width: 45px;
    font-size: 20px;
    margin-top: 5px;
  }
  .box-info .text-box p {
    font-size: 11px;
  }
  .toolbar-btn-action {
    text-align: center;
  }
  .gallery-wrap .column .inner .img-wrap {
    height: 60px;
    overflow: hidden;
    background: #ddd;
  }
  .gallery-wrap .column-3 .inner .img-wrap {
    height: 140px;
    overflow: hidden;
    background: #ddd;
  }
  .gallery-wrap .column-4 .inner .img-wrap {
    height: 100px;
    overflow: hidden;
    background: #ddd;
  }
  .user-profile-sidebar {
    text-align: center;
  }
}
/*Phone*/
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .mobile-sidebar {
    left: 0px;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .box-info table {
    margin: 0 0 0 0;
  }
  .box-info .table-responsive {
    border: none;
  }
  .nav.navbar-nav.top-navbar li span.absolute {
    left: 25px;
  }
  .box-info .additional .list-group {
    margin-bottom: -10px;
  }
  .toolbar-btn-action {
    text-align: center;
  }
  .gallery-wrap .column {
    width: 25%;
  }
  .gallery-wrap .column-4 {
    width: 33.33333333333333%;
  }
  .gallery-wrap .column-3 {
    width: 50%;
  }
  .gallery-wrap .column .inner .img-wrap {
    height: 70px;
    overflow: hidden;
    background: #ddd;
  }
  .gallery-wrap .column-3 .inner .img-wrap {
    height: 140px;
    overflow: hidden;
    background: #ddd;
  }
  .gallery-wrap .column-4 .inner .img-wrap {
    height: 105px;
    overflow: hidden;
    background: #ddd;
  }
  .widget.box-messages {
    margin-top: 0px;
  }
  footer {
    text-align: center;
  }
  .navbar-nav {
    float: left;
    margin: 0px;
  }
  .navbar {
    border: none;
  }
  .navbar-nav .open .dropdown-menu {
    float: left;
    position: absolute;
    background: #fff;
    right: 0px;
    left: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  .open > .dropdown-menu {
    display: block;
  }
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-right {
    float: right;
  }
  .navbar-nav > li {
    display: inline-block;
  }
  .lock-screen {
    text-align: center;
  }
  .profile-actions {
    bottom: auto;
    top: 60px;
  }
  .widget-tabbed {
    margin-top: 40px;
  }
  .widget-tabbed .nav-tabs a {
    font-size: 0px !important;
  }
  .widget-tabbed .nav-tabs a i {
    font-size: 18px !important;
  }
  .the-timeline ul li.the-year {
    font-size: 30px;
  }
  .quicklinks {
    top: -12px;
  }
  .ava-lock-screen {
    text-align: center;
    margin-bottom: 20px;
  }
  .ava-lock-screen img {
    width: 100px;
    margin: 0;
  }
  .open-right-sidebar .hide-phone {
    display: none;
  }
  /*	.la-pricing-table .la-col-4{width: 50%;}*/
  .user-profile-sidebar {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .box-info .icon-box {
    width: 100%;
    display: block;
  }
  .box-info .icon-box,
  .box-info .text-box {
    text-align: center;
  }
  .gallery-wrap .column,
  .gallery-wrap .column-3,
  .gallery-wrap .column-4 {
    width: 33.33333333333333%;
  }
  .gallery-wrap .column .inner .img-wrap,
  .gallery-wrap .column-3 .inner .img-wrap,
  .gallery-wrap .column-4 .inner .img-wrap {
    height: 70px;
  }
  .login-wrap {
    margin: 20px 0 0 0;
  }
  .navbar-default {
    border: none;
  }
  .open-right-sidebar .topbar-profile,
  .open-right-sidebar .hide-phone {
    display: none;
  }
  .the-timeline ul li.the-year {
    font-size: 20px;
    margin-left: 37%;
  }
  #wrapper:not(.enlarged) .topbar-profile,
  #wrapper:not(.enlarged) .hide-phone {
    display: none;
  }
  #wrapper .content-page {
    margin-left: 0px !important;
    padding-left: 50px;
    width: 100%;
    display: inline-block;
  }
  .open-right-sidebar .content-page > .content {
    opacity: 0;
  }
  .side-menu {
    z-index: 10 !important;
  }
  #weather h2 {
    top: 90px;
  }
  #weather .w-region {
    top: 250px;
  }
  #stock-widget #stock-title {
    display: none;
  }
  #stock-widget .stock-options {
    margin-left: 15px;
  }
  .button-menu-mobile {
    display: block;
  }
}
@media (max-width: 420px) {
  .hide-phone {
    display: none !important;
  }
}
@media (max-width: 360px) {
  .gallery-wrap .column,
  .gallery-wrap .column-3,
  .gallery-wrap .column-4 {
    width: 50%;
  }
  .gallery-wrap .column .inner .img-wrap,
  .gallery-wrap .column-3 .inner .img-wrap,
  .gallery-wrap .column-4 .inner .img-wrap {
    height: 80px;
  }
  .la-pricing-table .la-col-4 {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .gallery-wrap .column,
  .gallery-wrap .column-3,
  .gallery-wrap .column-4 {
    width: 50%;
  }
  .gallery-wrap .column .inner .img-wrap,
  .gallery-wrap .column-3 .inner .img-wrap,
  .gallery-wrap .column-4 .inner .img-wrap {
    height: 70px;
  }
}
/* LESS UI SLIDER */
#RangeSlider #amount {
  border: 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background: #5B605F;
  height: 30px;
  margin-bottom: 15px;
}
#RangeSlider .ui-slider {
  position: relative;
  text-align: left;
}
#RangeSlider .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 25px;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  background: #3983c5;
  border: 0px solid #d3d3d3;
}
#RangeSlider .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
#RangeSlider .ui-widget input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
#RangeSlider .ui-widget-content {
  border: inherit !important;
  background: #5B605F;
}
#RangeSlider .ui-slider .ui-slider-range {
  background: #75c93c;
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
#RangeSlider .ui-slider-horizontal {
  height: 10px;
}
#RangeSlider .ui-slider-horizontal .ui-slider-handle {
  top: -8px;
  margin-left: 0px;
}
#RangeSlider .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
#RangeSlider .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
#RangeSlider .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
/* GENERAL FORM ELEMENTS */
/* FORM GROUP */
.form-group label {
  font-weight: 400;
  display: block;
  margin-bottom: 2px;
  padding-left: 7px;
}
.form-group label span {
  font-weight: 300;
  color: #555;
}
.form-group .form-control {
  display: inline;
  border: solid 0px #ebebeb;
  color: #555;
  border-radius: 0px;
  padding: 5px 0px 5px 8px;
  width: 100%;
  height: 33px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-group .form-control:focus {
  border: solid 1px #e0e0e0;
}
.form-group .btn {
  height: 33px;
  border-radius: 0px;
  padding: 6px 0px;
  font-size: 1em;
  font-weight: 600;
  border: 0px;
}
/* Switch */
.onoffswitch {
  position: relative;
  width: 150px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 35px;
  padding: 0;
  line-height: 35px;
  font-size: 16px;
  color: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Email Me";
  padding-left: 15px;
  background-color: #ebebeb;
  color: #333333;
}
.onoffswitch-inner:after {
  content: "Call Me";
  padding-left: 50px;
  background-color: #e0e0e0;
  color: #333333;
  text-align: left;
}
.onoffswitch-switch {
  display: block;
  width: 35px;
  margin: 0px;
  background: #a71930;
  color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 115px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
/* GENERAL MODAL WINDOWS */
/* LESS LANDING PAGE */
.CP2_Widgets {
  /* Forms Widget Styles */
  /* END Forms Widget Styles */
  /* Documents Widget Styles */
  /* END Documents Widget Styles */
  /* Bar Gragh Styles */
  /* END Bar Gragh Styles */
  /* Percentages for Forms and Documents Widget */
  /* Shows height of bar based on percentage */
  /* Credit Report Widget Styles */
  /* END Credit Report Widget Styles */
}
.CP2_Widgets .data-grp {
  height: 200px;
}
.CP2_Widgets .forms-stats {
  float: left;
}
.CP2_Widgets .forms-stats .FormsNeededClass,
.CP2_Widgets .forms-stats .FormsCompletedClass {
  margin-top: 30px;
  padding: 10px 0px 10px 10px;
  background-color: #ebebeb;
  width: 145px;
  height: 40px;
  position: relative;
  text-align: right;
  padding-right: 50px;
  font-weight: bold;
  font-size: 16px;
}
.CP2_Widgets .forms-stats .FormsNeededClass span,
.CP2_Widgets .forms-stats .FormsCompletedClass span {
  background-color: #75c93c;
  position: absolute;
  padding-top: 5px;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 21px;
}
.CP2_Widgets .forms-stats .FormsNeededClass .arrow-right,
.CP2_Widgets .forms-stats .FormsCompletedClass .arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #75c93c;
  position: absolute;
  top: 15px;
  right: -5px;
}
.CP2_Widgets .forms-stats .FormsCompletedClass {
  margin-top: 20px;
}
.CP2_Widgets .forms-stats .FormsCompletedClass span {
  background-color: #66b034;
}
.CP2_Widgets .forms-stats .FormsCompletedClass .arrow-right {
  border-left: 5px solid #66b034;
}
.CP2_Widgets .document-stats {
  float: right;
}
.CP2_Widgets .document-stats .DocumentsNeededClass,
.CP2_Widgets .document-stats .DocumentsCompletedClass {
  margin-top: 30px;
  padding: 10px 0px 10px 10px;
  background-color: #ebebeb;
  width: 145px;
  height: 40px;
  position: relative;
  text-align: left;
  padding-left: 50px;
  font-weight: bold;
  font-size: 16px;
}
.CP2_Widgets .document-stats .DocumentsNeededClass span,
.CP2_Widgets .document-stats .DocumentsCompletedClass span {
  background-color: #3983c5;
  position: absolute;
  padding-top: 5px;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 21px;
}
.CP2_Widgets .document-stats .DocumentsNeededClass .arrow-left,
.CP2_Widgets .document-stats .DocumentsCompletedClass .arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #3983c5;
  position: absolute;
  top: 15px;
  left: -5px;
}
.CP2_Widgets .document-stats .DocumentsCompletedClass {
  margin-top: 20px;
}
.CP2_Widgets .document-stats .DocumentsCompletedClass span {
  background-color: #30395c;
}
.CP2_Widgets .document-stats .DocumentsCompletedClass .arrow-left {
  border-right: 5px solid #30395c;
}
.CP2_Widgets .forms-bar,
.CP2_Widgets .docs-bar {
  width: 50px;
  height: 160px;
  float: right;
  position: relative;
}
.CP2_Widgets .forms-bar {
  background-color: #75c93c;
}
.CP2_Widgets .forms-bar .FormsPercentageClass {
  background-color: #66b034;
}
.CP2_Widgets .docs-bar {
  float: left;
  background-color: #3983c5;
}
.CP2_Widgets .docs-bar .DocumentsPercentageClass {
  background-color: #30395c;
}
.CP2_Widgets .Percentage0,
.CP2_Widgets .Percentage10,
.CP2_Widgets .Percentage20,
.CP2_Widgets .Percentage30,
.CP2_Widgets .Percentage40,
.CP2_Widgets .Percentage50,
.CP2_Widgets .Percentage60,
.CP2_Widgets .Percentage70,
.CP2_Widgets .Percentage80,
.CP2_Widgets .Percentage90,
.CP2_Widgets .Percentage100 {
  width: 50px;
  position: absolute;
  bottom: 0;
}
.CP2_Widgets .Percentage0 {
  height: 0%;
}
.CP2_Widgets .Percentage10 {
  height: 10%;
}
.CP2_Widgets .Percentage20 {
  height: 20%;
}
.CP2_Widgets .Percentage30 {
  height: 30%;
}
.CP2_Widgets .Percentage40 {
  height: 40%;
}
.CP2_Widgets .Percentage50 {
  height: 50%;
}
.CP2_Widgets .Percentage60 {
  height: 60%;
}
.CP2_Widgets .Percentage70 {
  height: 70%;
}
.CP2_Widgets .Percentage80 {
  height: 80%;
}
.CP2_Widgets .Percentage90 {
  height: 90%;
}
.CP2_Widgets .Percentage100 {
  height: 100%;
}
.CP2_Widgets .credit-score-wrap {
  /* Credit Score Box */
}
.CP2_Widgets .credit-score-wrap .credit-score {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  border-radius: 3px;
  width: 100%;
  max-width: 230px;
  display: block;
  text-align: center;
  margin: 0px auto 10px;
  padding: 10px 0px 20px;
}
.CP2_Widgets .credit-score-wrap .credit-score .tagline {
  font-size: 16px;
  font-weight: bold;
}
.CP2_Widgets .credit-score-wrap .credit-score .score {
  font-size: 72px;
  font-weight: bold;
  line-height: 72px;
}
.CP2_Widgets .credit-score-wrap p {
  margin: 0px;
}
/* LESS BENCHMARKS PAGE */
.benchmarks {
  /* RangeSlider */
  /* General Benchmarks */
}
.benchmarks h2.page-title {
  width: 150px;
}
.benchmarks .benchmark {
  position: relative;
  background: #fafafa;
  color: #333333;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  min-height: 300px;
}
.benchmarks .benchmark-header,
.benchmarks .benchmark-content {
  display: block;
  width: 100%;
  clear: both;
}
.benchmarks .benchmark-header {
  background: #ebebeb;
  color: #474747;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  height: 40px;
  padding: 8px 20px;
  border-top: solid 2px #e0e0e0;
  text-align: center;
}
.benchmarks .benchmark-header.transparent {
  background: transparent;
  border: none;
}
.benchmarks .benchmark-header.centered {
  text-align: center;
}
.benchmarks .benchmark-header .left-btn {
  position: absolute;
  left: 10px;
  top: 6px;
}
.benchmarks .benchmark-content {
  padding: 10px;
}
.benchmarks .select-header {
  margin: 20px -15px 40px;
}
.benchmarks .select-wrap {
  /* Benchmarks Dropdown */
  /* Fix for IE 8 putting the arrows behind the select element. */
  /* Dirty fix for Firefox adding padding where it shouldn't. */
}
.benchmarks .select-wrap .dropdown {
  width: 200px;
  display: inline-block;
  height: 30px;
  color: #474747;
  background: #fff;
  border-right: 30px solid #adadad;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}
.benchmarks .select-wrap .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 5px;
  right: -22px;
  width: 0;
  height: 0;
  border: 8px dashed;
  border-color: #ffffff transparent;
  pointer-events: none;
}
.benchmarks .select-wrap .dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.benchmarks .select-wrap .dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}
.benchmarks .select-wrap .dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 8px 8px 6px 10px;
  line-height: 14px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background: #f2f2f2;
  /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important;
  /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.benchmarks .select-wrap .dropdown-select:focus {
  z-index: 3;
  width: 150%;
  outline: 0px solid #49aff2;
  outline: 0px solid -webkit-focus-ring-color;
  outline-offset: 0px;
}
.benchmarks .select-wrap .lt-ie9 .dropdown {
  z-index: 1;
}
.benchmarks .select-wrap .lt-ie9 .dropdown-select {
  z-index: -1;
}
.benchmarks .select-wrap .lt-ie9 .dropdown-select:focus {
  z-index: 3;
}
@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}
.benchmarks .select-wrap p {
  font-size: 12px;
  color: #474747;
  margin: 10px 0px;
}
.benchmarks input:focus {
  outline: 0;
}
.benchmarks #RangeSlider {
  display: block;
  text-align: center;
}
.benchmarks #RangeSlider #amount {
  border: 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background: #5B605F;
  height: 30px;
  margin-bottom: 15px;
}
.benchmarks #RangeSlider .ui-slider {
  position: relative;
  text-align: left;
}
.benchmarks #RangeSlider .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 25px;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  background: #3983c5;
  border: 0px solid #d3d3d3;
}
.benchmarks #RangeSlider .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.benchmarks #RangeSlider .ui-widget input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.benchmarks #RangeSlider .ui-widget-content {
  border: inherit !important;
  background: #5B605F;
}
.benchmarks #RangeSlider .ui-slider .ui-slider-range {
  background: #75c93c;
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.benchmarks #RangeSlider .ui-slider-horizontal {
  height: 10px;
}
.benchmarks #RangeSlider .ui-slider-horizontal .ui-slider-handle {
  top: -8px;
  margin-left: 0px;
  outline: 0;
}
.benchmarks #RangeSlider .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.benchmarks #RangeSlider .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.benchmarks #RangeSlider .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.benchmarks .arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #5b605f;
  margin: -13px auto 10px;
}
.benchmarks .benchmarks-general h4 {
  background-color: #e0e0e0;
  padding: 10px 15px;
  height: 40px;
  margin: 8px 15px 30px 15px;
}
.benchmarks .highcharts-button {
  display: none;
}
.benchmarks span.handle {
  color: #ffffff;
  font-weight: bolder;
  font-size: 15px;
  padding: 1px 0px 0px 5px;
  letter-spacing: -2px;
}
/* LESS CREDIT REPORTS */
/* Credit Score Grades */
.excellent {
  background-color: #66B034;
}
.good {
  background-color: #3983C5;
}
.acceptable {
  background-color: #FAA30B;
}
.subprime {
  background-color: #FF6600;
}
.poor {
  background-color: #B82309;
}
.CP2_CreditReport .credit-timeline {
  height: 500px;
}
/* LESS ACCOUNT SETTINGS PAGE */
div.CP2_UserProfile h2.page-title {
  width: 150px;
}
div.CP2_UserProfile .basic-widget {
  min-height: inherit;
}
div.CP2_UserProfile .form-group .form-control {
  width: 75%;
}
div.CP2_UserProfile .form-group .btn {
  width: 25%;
  float: right;
}
@media (max-width: 1310px) {
  div.CP2_UserProfile .password .col-lg-6 {
    width: 100%;
  }
}
div.CP2_UserProfile .password .form-control {
  width: 100%;
}
div.CP2_UserProfile .password .btn-group {
  margin-top: 5px;
  float: right;
  margin-right: 15px;
}
div.CP2_UserProfile .password .btn-group .btn {
  width: inherit;
  float: right;
  padding: 5px 10px;
  border-radius: 0px;
}
div.CP2_UserProfile .password .btn-group .update {
  margin-right: 15px;
  font-weight: 600;
}
div.CP2_UserProfile .password .btn-group .cancel {
  color: #ADADAD;
  background-color: #fff;
}
div.CP2_UserProfile .profile img {
  float: left;
  padding: 0px 10px 10px 0px;
  width: 100%;
  max-width: 135px;
}
div.CP2_UserProfile .profile .caption {
  margin: 0px 0px 15px;
}
div.CP2_UserProfile .profile .linkedin {
  margin: 10px 20px;
  padding: 5px 10px;
}
div.CP2_UserProfile .profile .btn,
div.CP2_UserProfile .profile .choose_file {
  font-weight: bolder;
}
div.CP2_UserProfile .choose_file {
  position: relative;
  display: inline-block;
  background: #3983c5;
  color: #ffffff;
  width: 135px;
  line-height: 30px;
  text-align: center;
}
div.CP2_UserProfile .choose_file input[type="file"] {
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
div.CP2_UserProfile .disclaimer {
  margin: 20px 0px 0px;
  font-size: 13px;
}
.forms-grp {
  margin: 0px;
  padding: 0px;
}
.begin,
.continue,
.complete {
  position: relative;
  width: 175px;
  height: 240px;
  float: left;
  margin: 0px 15px 25px 10px;
  color: #fafafa;
}
.begin .doc-number,
.continue .doc-number,
.complete .doc-number {
  max-height: 30px;
  padding: 5px 7px;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  background-color: #85a5cc;
  color: #fafafa;
  top: 0px;
  left: 0px;
}
.begin h4,
.continue h4,
.complete h4 {
  color: #474747;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  padding: 40px 10px 110px;
}
.begin p,
.continue p,
.complete p {
  color: #474747;
  font-size: 13px;
  line-height: 21px;
}
.begin .no-form-status,
.continue .no-form-status,
.complete .no-form-status {
  display: none;
}
.begin .form-status,
.continue .form-status,
.complete .form-status {
  text-align: center;
  color: #7a7a7a;
  position: absolute;
  bottom: 5px;
  width: 175px;
}
.begin .form-status span,
.continue .form-status span,
.complete .form-status span {
  font-size: 42px;
  font-weight: 700;
  padding: 0px 0px 0px 10px;
}
.begin .form-status sup,
.continue .form-status sup,
.complete .form-status sup {
  font-size: 21px;
  position: relative;
  top: -14px;
}
.begin .form-status p,
.continue .form-status p,
.complete .form-status p {
  font-size: 13px;
  line-height: 0px;
  margin: 0px 0px 15px 0px;
}
.begin .form-progress,
.continue .form-progress,
.complete .form-progress {
  height: 5px;
  width: 175px;
  background-color: #a71930;
  position: absolute;
  margin-top: 170px;
}
.begin .form-stage,
.continue .form-stage,
.complete .form-stage {
  height: 40px;
  width: 175px;
  position: absolute;
  margin-top: 178px;
}
.begin .form-stage a,
.continue .form-stage a,
.complete .form-stage a {
  color: #fafafa;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 45px 10px 72px;
  float: right;
  letter-spacing: 1px;
}
.begin .form-stage a:hover,
.continue .form-stage a:hover,
.complete .form-stage a:hover {
  text-decoration: none;
}
.begin .form-stage i,
.continue .form-stage i,
.complete .form-stage i {
  font-size: 30px;
  position: absolute;
  left: 140px;
  top: 6px;
}
.content-item {
  background: #fafafa;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  position: relative;
  width: 175px;
  height: 195px;
  float: left;
}
.content-item .overlay {
  border-top: 42px solid #474747;
  border-left: 52px solid transparent;
  top: 0;
  height: 0;
  opacity: .95;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 0;
}
.content-item .corner-overlay-content {
  font-size: 11px;
  top: 5px;
  position: absolute;
  right: 5px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #fafafa;
}
.content-item .overlay-content {
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  color: #fafafa;
  font-size: 13px;
  line-height: 21px;
  font-weight: 100;
  -vendor-animation-duration: 1s;
  -vendor-animation-delay: 1s;
  -vendor-animation-iteration-count: infinite;
}
.content-item .overlay-content {
  background: #474747;
}
.begin .form-stage span:before {
  content: "Begin";
}
.begin .form-stage a {
  text-decoration: none;
}
.continue .form-progress {
  background: #3983c5;
}
.continue .form-progress .form-precent {
  background-color: #30395c;
  height: 5px;
}
.continue .form-progress .form-precent-25 {
  width: 25%;
}
.continue .form-progress .form-precent-50 {
  width: 50%;
}
.continue .form-progress .form-precent-75 {
  width: 75%;
}
.continue .form-stage {
  background-color: #3983c5;
}
.continue .form-stage span:before {
  content: "Continue";
}
.continue .form-stage a {
  text-decoration: none;
}
.complete .form-progress {
  background: #66b034;
}
.complete .form-progress .form-precent {
  background-color: #487d25;
  height: 5px;
  width: 100%;
}
.complete .form-stage {
  background-color: #66b034;
}
.complete .form-stage span:before {
  content: 'E \2013 Sign';
}
.complete .form-stage a {
  text-decoration: none;
}
#e-sign .e-sign {
  background: #66b034;
  width: 190px;
  position: absolute;
  z-index: 1;
  padding: 10px 10px 12px 10px;
  text-align: center;
  top: 95px;
  left: -5px;
  color: #fafafa;
  font-weight: bold;
  font-size: 21px;
}
#e-sign .e-sign i {
  margin-right: 5px;
}
#e-sign .e-sign-fold {
  background: #487d25;
  height: 5px;
  width: 6px;
  position: absolute;
  left: -5px;
  top: 145px;
}
#e-sign .form-progress,
#e-sign .form-precent,
#e-sign .form-stage,
#e-sign .form-status,
#e-sign h4,
#e-sign p {
  opacity: .25;
}
#e-sign.complete .form-progress {
  background: #66b034;
}
#e-sign.complete .form-progress .form-precent {
  background-color: #487d25;
  height: 5px;
  width: 100%;
}
#e-sign.complete .form-stage {
  background-color: #66b034;
}
#e-sign.complete .form-stage span:before {
  content: '';
}
#e-sign.complete .form-stage a {
  text-decoration: none;
}
div.CP2_Help h2.page-title {
  width: 150px;
}
div.CP2_Help span.onoffswitch-switch {
  color: #ffffff;
  font-weight: bolder;
  font-size: 18px;
  padding: 4px 0px 0px 11px;
  letter-spacing: 1px;
}
div.CP2_Help .issue-description textarea.message {
  resize: vertical;
  max-height: 600px;
  min-height: 130px;
}
div.CP2_Help .lead {
  font-size: 16px;
}
div.CP2_Help .submit .btn {
  width: 150px;
  float: right;
}
div.CP2_Help .widget-content.video {
  padding: 0px;
}
div.CP2_Help .video .embed-responsive {
  border: none;
  border-bottom: 2px solid #5b605f;
}
div.CP2_Help video {
  width: 100%    !important;
  height: auto   !important;
}
