/* LESS LAYOUT */

body {
  background: @contentbg;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering:optimizelegibility;
  -webkit-text-size-adjust: 100%;
  font-family: @lato;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

h1 {
    line-height: 43px;
}

h2 {
    line-height: 35px;
    font-family: @roboto-bold;
    font-size: 18px;
    font-weight: 500;
}

h3 {
    line-height: 30px;
}

h4 {
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

h3 small, h4 small, h5 small {
    font-family: @lato;
    font-weight: 300;
    color: @black-2;
}

*{
  outline: none !important;
}

a:hover,a:active,a:focus {
    outline: 0;
    text-decoration: none;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.label{
  padding: 0.3em 0.6em;
}

.container {
  width: auto;
}

/* MASTER PAGE */

#wrapper{
  width: 100%;
  height: 100%;
  // background:@contentbg;
  position:relative;
}

.page {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.rows, .col, .page {
  position: absolute;
}

.rows {
  left: 0;
  right: 0;
}

#wrapper.enlarged .topbar .topbar-left{
  width:@resized_left !important;
}

#wrapper.enlarged .topbar .topbar-left .logo{
  opacity:0;
  display: none;
}

.col {
  top: 0;
  bottom: 0;
}

.scroll-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scroll-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.fill, .pane {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.pane {
  display: none;
}

.table-noborder td{
  border:0px !important;
}

.badge{
  vertical-align: bottom;
}

.btn-group.spaced .btn{
  border-left:1px solid rgba(0,0,0,0.1);
}

.btn-group.open{
    z-index:2 !important;
}

.bold{
  font-weight:700 !important;
}

.semibold{
  font-weight: 600 !important;
}

.input-invis{
  background: none !important;
  border:none !important;
}

span.new-circle {
  border-radius: 10px;
  padding: 5px;
}

img.xs-avatar {
  width: 50px;
  padding: 2px;
  background: #fff;
  border: 1px solid #ddd;
  margin: 0px 4px 0 0;
  .border-radius(100px);
}

img.ava-dropdown {
  float: left;
  margin: 0px 10px 0 0;
}
.no-left-padding{
  padding-left:0px;
}

.no-right-padding{
  padding-right:0px;
}

.nomargin{
  margin:0px !important;
}

.no-rounded{
  -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
}

.full-rounded{
  .border-radius(20px);
}

.stacked{
  margin:0px;
}

.stacked > [class*="col-"]{
  padding-left:0px;
  padding-right:0px;
  margin:0px !important;
}
.content-page {
  margin-left: @left_sidebar_width;
  overflow: hidden;
  position: relative;
  margin-right: @right_sidebar_width;
  min-height: @min_height;
}

.content-page > .content{
  margin-top:98px;
  padding: 30px;
  position: relative;
  font-size: 16px;
  font-family: @lato;
  color: @black-2;
}

/* Page Header */
.page-header {
  margin: 0px 0px 0px 0px;
  padding-bottom: 25px;
  border: none;
  h2.page-title {
    background-color: @black-3;
    color: @white-1;
    float: left;
  }

  .lead {
    font-family: @lato;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0px;
  }
}

/* Custom Buttons */
.btn {
  border-radius: 2px;
}
.btn.save {
  background: @blue-1;
  color: @white-1;
}
.btn.save:hover {
  background: @blue-2;
}
.btn.save span {

}


/* END LESS CONTENT */