/* LESS VARIABLES*/

@base-font:         18px;
@base-line-height:  1.5;
@min_height: 1100px;
@left_sidebar_width: 280px;
@resized_left: 60px;
@sub_topbar: 280px;
@resized_sub_topbar: 60px;
@right_sidebar_width: 340px;
@maincolor: @black-1;
@hovercolor: @red-1;
@topbar_color: @white-1;
@brand_color:#343838;
@contentbg: @gray-1;
@first_level_hover: lighten(@maincolor,10%);
@second_level: darken(@maincolor,5%);

/* COLORS */
@transparent:       rgba(0,0,0,0);
@white-1:           #ffffff;
@white-2:           #fafafa;
@black-1:           #333333;
@black-2:           #474747;
@black-3:           #5B605F;
@black-4:           #444444;
@gray-1:            #EBEBEB;
@gray-2:            #E0E0E0;
@green-1:           #75C93C;
@green-2:           #66B034;
@green-3:           #209C83;
@green-4:           #3c763d;
@pink-1:            #F57A82;
@pink-2:            #F56F6C;
@yellow-1:          #F4CDA5;
@yellow-2:          #EAE696;
@blue-1:            #3983C5;
@blue-2:            #30395C;
@blue-3:            #2980B9;
@darkblue-1:        #252932;
@darkblue-2:        #4A525F;
@darkblue-3:        #38464A;
@lightblue-1:       #ABB7B7;
@lightblue-2:       #7A868F;
@orange-1:          #E84C3D;
@orange-2:          #DE745E;
@orange-3:          #E27A3F;
@orange-4:          #edce8c;
@red-1:             #A71930;
@red-2:             #EB5055;

/* Alert Colors */
.alert-success {
  color: #fff !important;
  background-color: #68C39F;
  border-color: darken(#68C39F, 10%);
  .alert-link {
    color: #fafafa !important;
    font-weight: bold;
  }
}
.alert-danger {
  color: #fafafa;
  background-color: @red-1;
  border-color: @red-2;
  .alert-link {
    color: #fafafa !important;
    font-weight: bold;
  }
}
.alert-info {
  color: #fafafa !important;
  background-color: #65BBD6;
  border: 1px solid #65BBD6;
  h4 {
    font-weight: 600;
  }
  .alert-link {
    color: #fafafa !important;
    font-weight: bold;
  }
}
.alert-warning {
  color: #fafafa !important;
  background-color: #FFC052;
  border: 1px solid #FFC052;
  .alert-link {
    color: #fafafa !important;
    font-weight: bold;
  }
}
/* COLORS END */

/* FONTS */
@font-face {
  font-family: 'Lato';
  src:
    url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
    url('../fonts/lato/lato-regular-webfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto Bold';
  src:
    url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-bold-webfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('../fonts/roboto-cond/robotocondended-regular-webfont.woff2') format('woff2'),
    url('../fonts/robotocond/robotocondended-regular-webfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@lato: 'Lato', sans-serif;
@roboto: 'Roboto', sans-serif;
@roboto-bold: 'Roboto Bold', sans-serif;
@roboto-cond: 'Roboto Condensed', sans-serif;

/* FONTS END */

/* END LESS Variables */